# Bim File

variant identifier and minor allele

In [31]:
import pandas as pd
df_bim=pd.read_csv('Data/DataS1.bim', sep='\t', header=None)
# df_bim = 1 and 4 columns
df_bim = df_bim[[1, 4]]

df_bim.rename(columns={1: 'VariantID', 4: 'minor'}, inplace=True)
df_bim

          VariantID  minor
0         rs3094315      3
1         rs6696609      4
2         rs9442372      1
3         rs4970405      3
4        rs11807848      2
...             ...    ...
147224     rs715586      4
147225    rs8137951      1
147226    rs3810648      3
147227   rs78827609      4
147228  rs116026001      3

[147229 rows x 2 columns]

# Ped File

familly id and individual id and allels

## Split the ped file by familly id

In [33]:
! rm -r Data/out/*

In [34]:
import os
 
def split_and_convert(file_path):
    # Create a directory to store output files
    os.makedirs('Data/out', exist_ok=True)
    populations = []
    with open(file_path, 'r') as ped_file:
        for row in ped_file:
            row_data = row.strip().split()
            populations.append(row_data[0])
            pedigree = row_data[0]
            with open(f'Data/out/{pedigree}.txt', 'a') as out_file:
                # Join the pairs of alleles in each row
                new_fields = row_data[:6]
                for i in range(6, len(row_data), 2):
                    new_fields.append(row_data[i] + row_data[i+1])
                # Write the new fields to the output file
                out_file.write(' '.join(new_fields) + '\n')
        
    return list(set(populations))

file_path = 'Data/DataS1.ped'

populations = split_and_convert(file_path)
print(populations)

['Austria', 'Russia', 'Portugal', 'Kazakhstan', 'Spain', 'Israel', 'Norway', 'Macedonia', 'Turkey', 'Italy', 'Latvia', 'CzechRepublic', 'France', 'Bulgaria', 'Switzerland', 'Estonia', 'Armenia', 'Sweden', 'Lithuania', 'Germany', 'Iran', 'Romania', 'UnitedKingdom', 'TheNetherlands', 'Serbia', 'Croatia', 'Greece', 'Hungary', 'Ukraine', 'Luxembourg', 'Poland', 'Georgia', 'Denmark', 'Jordan']

In [35]:
len(populations)

34

In [5]:
pop_selection = 'Sweden'
pop_path=f'Data/out/{pop_selection}.txt'
date=1 # 0-1000 years ago

In [6]:
import pandas as pd
df = pd.read_csv(pop_path, sep=' ', header=None)

In [7]:
# conver df_bim['variantID'] to a list
columns= df_bim['variantID'].to_list()
columns.insert(0, 'familyID')
columns.insert(1, 'individualID')
columns.insert(2, 'fatherID')
columns.insert(3, 'motherID')
columns.insert(4,'Sex')
columns.insert(5, 'date')

df.columns=columns
df.date=None

df

,familyID,individualID,fatherID,motherID,Sex,date,rs3094315,rs6696609,rs9442372,rs4970405,...,rs80055960,rs114003743,rs739365,rs9616945,rs5770820,rs6010062,rs715586,rs8137951,rs3810648,rs78827609
0,Sweden,Saxtorp5164,0,0,2,None,0,0,0,11,...,0,33,22,0,0,0,22,0,0,0
1,Sweden,Olsund,0,0,1,None,11,44,11,11,...,22,33,44,33,11,33,22,33,0,22
2,Sweden,Ajvide70,0,0,0,None,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Sweden,sf12,0,0,0,None,11,42,33,11,...,22,33,22,33,33,33,22,33,11,22
4,Sweden,RISE179,0,0,1,None,0,0,0,0,...,0,0,0,0,11,0,0,0,0,0
5,Sweden,I0017,0,0,1,None,11,22,0,11,...,22,33,22,33,33,33,22,33,11,44
6,Sweden,I0013,0,0,1,None,11,0,33,11,...,22,33,22,33,33,11,22,11,33,0
7,Sweden,I0011,0,0,2,None,0,22,33,11,...,22,33,0,11,33,11,0,33,11,22
8,Sweden,I0015,0,0,1,None,33,44,11,11,...,22,33,44,0,33,0,22,11,11,22
9,Sweden,I0012,0,0,1,None,11,22,33,11,...,22,33,44,33,11,11,44,33,11,0
10,Sweden,I0014,0,0,2,None,11,22,33,11,...,22,33,22,33,33,11,22,33,11,22
11,Sweden,RISE94,0,0,1,None,0,22,33,0,...,22,33,44,0,33,0,22,33,0,22
12,Sweden,RISE97,0,0,2,None,0,44,33,0,...,22,33,22,33,33,33,22,33,0,0
13,Sweden,RISE98,0,0,1,None,11,44,33,11,...,44,33,22,11,11,11,22,11,11,22
14,Sweden,RISE175,0,0,1,None,0,0,0,0,...,0,33,0,0,0,0,22,0,0,0
15,Sweden,RISE210,0,0,1,None,0,22,0,0,...,0,0,22,0,0,0,0,0,0,0
16,Sweden,RISE174,0,0,0,None,0,0,0,0,...,0,0,42,13,13,13,0,0,0,0
17,Sweden,sf11,0,0,1,None,0,0,0,11,...,0,33,44,0,0,0,22,0,0,22
18,Sweden,Ajvide52,0,0,1,None,0,22,0,11,...,0,0,0,0,0,0,0,0,0,0
19,Sweden,Ajvide58,0,0,1,None,11,0,33,11,...,22,33,22,0,33,11,22,11,11,22
20,Sweden,Gokhem2,0,0,2,None,11,22,33,11,...,22,33,22,11,33,33,44,33,0,22
21,Sweden,I0016,0,0,1,None,11,22,33,11,...,22,33,22,0,33,33,44,33,11,0

In [8]:

minor=df_bim['minor'].to_list()
minor.insert(0, 'None')
minor.insert(1, 'None')
minor.insert(2, 'None')
minor.insert(3, 'None')
minor.insert(4,'None')
minor.insert(5, 'None')

minor[6]

3

In [9]:
dfeuro = pd.read_excel(
    'Data/Eurasian - Dataset_tims.xlsx', sheet_name='Eurasian')
dfeuro = pd.DataFrame(dfeuro)
dfeuro.rename(columns={
              'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]': 'date'}, inplace=True)

dfeuro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4158 entries, 0 to 4157
Data columns (total 39 columns):
 #   Column                                                                                                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                 --------------  -----
 0   #                                                                                                                                                                                                                                      4158 non-null   int64
 1   Sample ID                                                                                                                                                                                                                              4158 non-null   object
 2   AncientComponent1                                                                                                                                                                                                                      4158 non-null   float64
 3   AncientComponent2                                                                                                                                                                                                                      4158 non-null   float64
 4   AncientComponent3                                                                                                                                                                                                                      4158 non-null   float64
 5   AncientComponent4                                                                                                                                                                                                                      4158 non-null   float64
 6   AncientComponent5                                                                                                                                                                                                                      4158 non-null   float64
 7   ModernComponent1                                                                                                                                                                                                                       4158 non-null   float64
 8   ModernComponent2                                                                                                                                                                                                                       4158 non-null   float64
 9   ModernComponent3                                                                                                                                                                                                                       4158 non-null   float64
 10  Index                                                                                                                                                                                                                                  4158 non-null   int64
 11  Version ID                                                                                                                                                                                                                             4158 non-null   object
 12  Master ID                                                                                                                                                                                                                              4158 non-null   object
 13  Skeletal code                                                                                                                                                                                                                          4158 non-null   object
 14  Skeletal element                                                                                                                                                                                                                       4158 non-null   object
 15  Year data from this individual was first published [for a present-day individuals we give the data of the data reported here; missing: GreenScience 2010 (Vi33.15, Vi33.26), Olalde2018 (I2657), RasmussenNature2010 (Australian)]     4158 non-null   object
 16  Publication                                                                                                                                                                                                                            4158 non-null   object
 17  Method for Determining Date; unless otherwise specified, calibrations use 95.4% intervals from OxCal v4.4.2 Bronk Ramsey (2009); r:5; Atmospheric data from Reimer et al (2020)                                                        4158 non-null   object
 18  date                                                                                                                                                                                                                                   4158 non-null   int64
 19  Date standard deviation in BP [OxCal sigma for a direct radiocarbon date, and standard deviation of the uniform disribution between the two bounds for a contextual date]                                                              4158 non-null   int64
 20  Full Date: One of two formats. (Format 1) 95.4% CI calibrated radiocarbon age (Conventional Radiocarbon Age BP, Lab number) e.g. 2624-2350 calBCE (3990±40 BP, Ua-35016). (Format 2) Archaeological context range, e.g. 2500-1700 BCE  4158 non-null   object
 21  Age at Death Estimate                                                                                                                                                                                                                  4158 non-null   object
 22  Group ID                                                                                                                                                                                                                               4158 non-null   object
 23  Locality                                                                                                                                                                                                                               4158 non-null   object
 24  Country                                                                                                                                                                                                                                4158 non-null   object
 25  Lat.                                                                                                                                                                                                                                   4158 non-null   object
 26  Long.                                                                                                                                                                                                                                  4158 non-null   object
 27  Data source                                                                                                                                                                                                                            4158 non-null   object
 28  No. Libraries                                                                                                                                                                                                                          4158 non-null   object
 29  Coverage on autosomal targets                                                                                                                                                                                                          4158 non-null   object
 30  SNPs hit on autosomal targets                                                                                                                                                                                                          4158 non-null   int64
 31  Mean length of shotgun sequences (merged data)                                                                                                                                                                                         4158 non-null   object
 32  Sex                                                                                                                                                                                                                                    4158 non-null   object
 33  Family ID and position within family                                                                                                                                                                                                   4158 non-null   object
 34  Y haplogroup  in ISOGG v15.73 notation (automatically called)                                                                                                                                                                          4158 non-null   object
 35  Y haplogroup (manual curation in terminal mutation format)                                                                                                                                                                             4158 non-null   object
 36  Y haplogroup (manual curation in ISOGG format)                                                                                                                                                                                         4155 non-null   object
 37  mtDNA coverage (merged data)                                                                                                                                                                                                           4158 non-null   object
 38  mtDNA haplogroup if ≥2 or published                                                                                                                                                                                                    4154 non-null   object
dtypes: float64(8), int64(5), object(26)
memory usage: 1.2+ MB

In [10]:
date_range= [0,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000,11000]
# if dfeuro['date'] is in the range of date_range, then dfeuro['cat_date'] is the index of the range
dfeuro['cat_date']=pd.cut(dfeuro['date'], date_range, labels=range(0, len(date_range)-1))

In [ ]:
# locate df['individualID'] in dfeuro['Master ID'] and add df['cat_date'] to the df[date]
for i in range(0, len(df)):
    for j in range(0, len(dfeuro)):
        if df['individualID'][i] == dfeuro['Master ID'][j]:
            df['date'][i]=dfeuro['cat_date'][j]

In [12]:
df.to_csv('Data/df.csv', index=False)

In [13]:
freq={}
df=df[df['date']==date]
for i in range(6, 1000):
    # 
        minor3=minor[i]
        # number of rows in the dataframe
        count=0
        totall=len(df)*2
        for j in range(0, len(df)):
            # count occurrences of the minor allele in column i
            count+= str(df.iloc[j,i]).count(str(minor3))
        freq[df.columns[i]]=count/totall
    

freq

{'rs3094315': 0.0,
 'rs6696609': 0.0,
 'rs9442372': 0.0,
 'rs4970405': 0.0,
 'rs11807848': 0.0,
 'rs4970421': 0.0,
 'rs2887286': 0.0,
 'rs113791678': 0.0,
 'rs12073590': 0.0,
 'rs111856013': 0.0,
 'rs3843249': 0.0,
 'rs6603791': 0.5,
 'rs6687029': 0.5,
 'rs6692959': 0.0,
 'rs28508199': 0.0,
 'rs28549710': 0.5,
 'rs4648747': 0.5,
 'rs4648752': 0.0,
 'rs13303344': 0.0,
 'rs6701689': 1.0,
 'rs1467218': 0.0,
 'rs72907476': 0.0,
 'rs77602667': 0.0,
 'rs436045': 0.5,
 'rs2257182': 0.5,
 'rs260512': 0.0,
 'rs10797417': 0.0,
 'rs2036084': 0.0,
 'rs2132595': 0.5,
 'rs4648831': 0.0,
 'rs2645086': 0.5,
 'rs7545940': 0.0,
 'rs6665546': 0.5,
 'rs10910060': 0.0,
 'rs10910061': 0.0,
 'rs3736330': 0.5,
 'rs2494599': 0.0,
 'rs10797421': 0.5,
 'rs2494439': 0.0,
 'rs4995304': 0.5,
 'rs2246732': 0.0,
 'rs2764841': 0.5,
 'rs6680471': 0.0,
 'rs10910019': 0.0,
 'rs2842909': 0.0,
 'rs2495271': 0.0,
 'rs11583804': 0.5,
 'rs56877975': 0.0,
 'rs60402802': 0.0,
 'rs1572657': 0.5,
 'rs10797373': 0.0,
 'rs56091202': 0.5,
 'rs115905994': 0.0,
 'rs7543737': 0.5,
 'rs2981870': 0.5,
 'rs2993500': 1.0,
 'rs4648453': 0.0,
 'rs2817178': 0.5,
 'rs35360783': 0.5,
 'rs10909883': 0.0,
 'rs731031': 0.0,
 'rs1798246': 0.0,
 'rs2651929': 0.0,
 'rs4648368': 0.0,
 'rs2651891': 0.0,
 'rs10909907': 0.0,
 'rs72632109': 0.0,
 'rs17398063': 0.0,
 'rs3002685': 0.0,
 'rs10909918': 0.0,
 'rs74048225': 0.0,
 'rs2483266': 1.0,
 'rs2255212': 0.5,
 'rs4415513': 0.5,
 'rs17399569': 0.0,
 'rs4648485': 0.0,
 'rs11584942': 0.0,
 'rs12085231': 0.0,
 'rs868689': 0.0,
 'rs12726710': 0.0,
 'rs17822581': 0.0,
 'rs2068354': 0.5,
 'rs12124567': 0.5,
 'rs12568681': 0.0,
 'rs2487687': 0.0,
 'rs883427': 0.5,
 'rs10909969': 0.0,
 'rs2821053': 0.0,
 'rs60957843': 0.5,
 'rs4648537': 0.0,
 'rs3765696': 0.0,
 'rs3819967': 1.0,
 'rs72637004': 0.0,
 'rs1181877': 0.0,
 'rs1181875': 0.0,
 'rs12759497': 0.0,
 'rs6663840': 0.0,
 'rs6660459': 0.0,
 'rs77838018': 0.0,
 'rs4074709': 0.0,
 'rs3205087': 0.0,
 'rs111854503': 0.0,
 'rs185656431': 0.0,
 'rs12724233': 0.0,
 'rs7551771': 1.0,
 'rs10737395': 0.0,
 'rs4654428': 0.0,
 'rs4654525': 0.0,
 'rs10449244': 0.0,
 'rs6675979': 1.0,
 'rs6672264': 0.5,
 'rs75712447': 0.0,
 'rs4440829': 1.0,
 'rs10915360': 0.0,
 'rs10915366': 0.0,
 'rs9792946': 0.5,
 'rs10915400': 0.0,
 'rs4391636': 0.0,
 'rs10915421': 0.0,
 'rs6676961': 0.0,
 'rs10915428': 0.0,
 'rs7548756': 0.5,
 'rs10737402': 0.0,
 'rs57434236': 0.0,
 'rs12083774': 0.0,
 'rs35986531': 0.0,
 'rs4654492': 0.0,
 'rs74880958': 0.0,
 'rs4233262': 0.0,
 'rs35392680': 0.0,
 'rs4512614': 0.0,
 'rs966321': 0.0,
 'rs10737406': 0.0,
 'rs7529363': 1.0,
 'rs693734': 0.0,
 'rs1490413': 0.5,
 'rs1495239': 0.0,
 'rs351615': 0.0,
 'rs639739': 0.0,
 'rs614534': 0.0,
 'rs10915517': 0.0,
 'rs670174': 0.0,
 'rs349393': 0.0,
 'rs349390': 0.0,
 'rs349416': 0.0,
 'rs508647': 0.0,
 'rs706144': 0.0,
 'rs780586': 0.0,
 'rs10915541': 0.0,
 'rs780587': 0.0,
 'rs608210': 0.0,
 'rs6426417': 0.0,
 'rs1037800': 0.0,
 'rs350171': 0.5,
 'rs705689': 0.0,
 'rs780606': 0.5,
 'rs350187': 0.0,
 'rs1710415': 0.0,
 'rs608203': 0.0,
 'rs111999731': 0.0,
 'rs241238': 0.5,
 'rs12092980': 0.0,
 'rs171319': 0.0,
 'rs12120353': 0.0,
 'rs241275': 0.0,
 'rs115225824': 0.0,
 'rs1541318': 0.0,
 'rs4654446': 0.0,
 'rs532259': 0.0,
 'rs12567277': 0.5,
 'rs618751': 0.0,
 'rs164781': 0.5,
 'rs6668002': 0.0,
 'rs61764967': 0.0,
 'rs1107468': 0.0,
 'rs115785205': 0.0,
 'rs1483198': 0.0,
 'rs6658403': 0.0,
 'rs1531831': 0.0,
 'rs11587129': 0.0,
 'rs75303035': 0.0,
 'rs10915585': 0.0,
 'rs2071991': 0.0,
 'rs74697122': 0.0,
 'rs4993529': 0.0,
 'rs10915587': 0.0,
 'rs72638815': 0.0,
 'rs3820251': 0.0,
 'rs3753702': 0.0,
 'rs540299': 0.0,
 'rs12119789': 0.5,
 'rs9426484': 0.0,
 'rs11805709': 0.0,
 'rs78993684': 0.5,
 'rs12122126': 0.0,
 'rs7527319': 0.0,
 'rs12567053': 0.0,
 'rs7525315': 0.0,
 'rs2031246': 0.5,
 'rs6678459': 0.0,
 'rs10915668': 0.0,
 'rs10915670': 0.0,
 'rs11584727': 0.0,
 'rs4654470': 0.5,
 'rs9426467': 0.0,
 'rs4654471': 1.0,
 'rs7555212': 0.0,
 'rs6669905': 0.5,
 'rs9426490': 0.0,
 'rs12029491': 0.0,
 'rs72635317': 0.0,
 'rs12127329': 0.5,
 'rs6666330': 0.5,
 'rs1106585': 0.0,
 'rs10915308': 0.0,
 'rs10915310': 0.0,
 'rs720318': 0.0,
 'rs149893462': 0.0,
 'rs6603832': 0.0,
 'rs3128689': 0.0,
 'rs12120144': 0.0,
 'rs10915342': 0.0,
 'rs4949171': 0.0,
 'rs10737397': 0.0,
 'rs10915359': 0.0,
 'rs9439509': 0.5,
 'rs12121369': 0.0,
 'rs10492931': 0.0,
 'rs17375504': 0.5,
 'rs12136793': 0.0,
 'rs79870364': 0.0,
 'rs534321': 0.0,
 'rs10915395': 0.0,
 'rs12135834': 0.0,
 'rs72852189': 0.0,
 'rs12089315': 0.0,
 'rs499416': 0.0,
 'rs12139398': 0.5,
 'rs10492935': 0.0,
 'rs17423547': 0.0,
 'rs12145750': 1.0,
 'rs9286979': 0.0,
 'rs912991': 0.0,
 'rs140143457': 0.0,
 'rs2031582': 0.0,
 'rs1326005': 0.0,
 'rs76980187': 0.5,
 'rs7418357': 0.0,
 'rs61759104': 0.0,
 'rs17028133': 0.0,
 'rs12134185': 0.5,
 'rs2153900': 0.0,
 'rs6673119': 0.0,
 'rs7522344': 0.0,
 'rs1775421': 0.0,
 'rs1818038': 0.0,
 'rs10907200': 0.5,
 'rs1573094': 0.0,
 'rs11260662': 0.0,
 'rs945325': 0.0,
 'rs9439603': 0.0,
 'rs11260666': 0.0,
 'rs12033422': 0.0,
 'rs1499395': 0.0,
 'rs12137393': 0.0,
 'rs6699073': 0.0,
 'rs770720': 0.0,
 'rs707580': 0.0,
 'rs770701': 0.0,
 'rs770703': 0.0,
 'rs796396': 0.0,
 'rs116094228': 0.0,
 'rs873982': 0.5,
 'rs1875038': 0.5,
 'rs2649086': 0.0,
 'rs2649083': 0.5,
 'rs116219697': 0.0,
 'rs72643046': 0.0,
 'rs2842258': 0.0,
 'rs17429690': 0.0,
 'rs4129514': 0.0,
 'rs7415495': 0.0,
 'rs28637880': 0.0,
 'rs6687650': 0.0,
 'rs138487454': 0.0,
 'rs495376': 0.5,
 'rs548726': 0.0,
 'rs112006378': 0.0,
 'rs9729880': 0.0,
 'rs2134551': 0.0,
 'rs9628989': 0.0,
 'rs10492950': 0.0,
 'rs11120934': 0.5,
 'rs1295100': 0.5,
 'rs482158': 1.0,
 'rs11121065': 0.0,
 'rs115204861': 0.0,
 'rs4908752': 0.0,
 'rs3789541': 0.0,
 'rs35183981': 0.5,
 'rs2229002': 0.0,
 'rs3810989': 0.5,
 'rs12121229': 0.0,
 'rs731975': 0.0,
 'rs11121478': 0.5,
 'rs6577565': 0.0,
 'rs7547093': 0.0,
 'rs74845901': 0.0,
 'rs76504447': 0.5,
 'rs17026985': 0.0,
 'rs113269467': 0.0,
 'rs3007421': 0.0,
 'rs58029228': 0.0,
 'rs1010584': 0.0,
 'rs742394': 0.0,
 'rs12137794': 0.5,
 'rs200449': 0.0,
 'rs3827729': 0.5,
 'rs277671': 0.0,
 'rs277665': 0.0,
 'rs430962': 1.0,
 'rs17441830': 0.0,
 'rs950493': 0.0,
 'rs17030041': 1.0,
 'rs4908575': 0.0,
 'rs4518923': 1.0,
 'rs6698901': 1.0,
 'rs2275907': 1.0,
 'rs7543753': 0.0,
 'rs4908594': 0.5,
 'rs11584416': 0.5,
 'rs2187901': 0.0,
 'rs2071917': 0.0,
 'rs2071918': 0.0,
 'rs1010807': 0.0,
 'rs7527268': 1.0,
 'rs10779675': 0.0,
 'rs6702815': 0.0,
 'rs7527889': 0.0,
 'rs6667429': 0.0,
 'rs6577417': 0.5,
 'rs6680365': 0.0,
 'rs78157695': 0.0,
 'rs60940404': 0.0,
 'rs1476047': 0.0,
 'rs6698698': 0.0,
 'rs4140605': 0.0,
 'rs12409413': 0.0,
 'rs17350193': 0.0,
 'rs7543711': 0.0,
 'rs2301462': 0.0,
 'rs36074838': 0.0,
 'rs845237': 0.0,
 'rs4908629': 0.0,
 'rs845234': 0.0,
 'rs10864301': 0.5,
 'rs1193220': 0.5,
 'rs1193221': 0.5,
 'rs11807070': 0.0,
 'rs1193245': 0.0,
 'rs17445205': 0.0,
 'rs1193239': 0.0,
 'rs732401': 0.0,
 'rs1011126': 0.0,
 'rs1193182': 0.0,
 'rs1193183': 0.5,
 'rs7526892': 0.0,
 'rs10864304': 0.0,
 'rs6577446': 0.0,
 'rs2478267': 0.0,
 'rs1725223': 0.0,
 'rs36099749': 0.0,
 'rs77869434': 0.0,
 'rs957856': 0.0,
 'rs78552027': 1.0,
 'rs6696544': 0.0,
 'rs4317829': 0.0,
 'rs12139470': 0.0,
 'rs4908660': 0.0,
 'rs4908672': 0.5,
 'rs4908473': 0.0,
 'rs3011936': 0.0,
 'rs10779689': 0.0,
 'rs4908480': 0.0,
 'rs1044245': 0.0,
 'rs697673': 0.0,
 'rs11581279': 0.0,
 'rs228727': 0.0,
 'rs111392569': 0.0,
 'rs875994': 0.0,
 'rs6657232': 1.0,
 'rs10462018': 0.0,
 'rs228696': 0.0,
 'rs17374439': 0.0,
 'rs228676': 0.5,
 'rs504560': 0.0,
 'rs228703': 0.0,
 'rs680522': 0.0,
 'rs161803': 0.0,
 'rs147201527': 0.0,
 'rs178932': 0.0,
 'rs72634234': 0.0,
 'rs225132': 0.0,
 'rs4601608': 0.0,
 'rs2045248': 0.0,
 'rs7531634': 0.0,
 'rs7529511': 0.0,
 'rs11121111': 0.0,
 'rs12138839': 0.0,
 'rs75930106': 0.0,
 'rs506403': 0.0,
 'rs375596': 0.0,
 'rs367915': 0.0,
 'rs389709': 0.0,
 'rs1472878': 0.5,
 'rs1107284': 0.0,
 'rs79500154': 0.0,
 'rs2252865': 0.5,
 'rs114238492': 0.0,
 'rs4908505': 0.0,
 'rs11121221': 0.5,
 'rs4908773': 0.0,
 'rs10492963': 0.0,
 'rs10864368': 0.0,
 'rs4418632': 0.0,
 'rs1475734': 0.0,
 'rs6684149': 0.0,
 'rs2274332': 0.0,
 'rs72862209': 0.0,
 'rs4466678': 0.0,
 'rs4908800': 0.0,
 'rs6697763': 0.5,
 'rs6577546': 0.0,
 'rs145645102': 0.0,
 'rs2895997': 0.0,
 'rs17392147': 0.0,
 'rs12025782': 0.5,
 'rs2505972': 0.5,
 'rs1327257': 0.0,
 'rs74051036': 0.0,
 'rs12061918': 0.5,
 'rs72637735': 0.0,
 'rs6577556': 0.0,
 'rs797252': 0.0,
 'rs4908527': 0.5,
 'rs809972': 0.0,
 'rs4908817': 0.0,
 'rs1008446': 0.5,
 'rs115238196': 0.0,
 'rs4908826': 0.0,
 'rs1009940': 0.0,
 'rs17033526': 0.0,
 'rs2268170': 1.0,
 'rs7517538': 1.0,
 'rs916379': 0.5,
 'rs9661151': 0.0,
 'rs2072734': 0.0,
 'rs1294028': 0.0,
 'rs4908842': 0.0,
 'rs1569422': 0.0,
 'rs58412622': 0.0,
 'rs72860869': 0.0,
 'rs2075972': 0.0,
 'rs9435245': 0.0,
 'rs2275458': 0.0,
 'rs17393334': 0.0,
 'rs114830382': 0.0,
 'rs12145857': 0.0,
 'rs10864418': 0.0,
 'rs12034064': 0.0,
 'rs57883760': 0.5,
 'rs9430155': 0.0,
 'rs9430184': 0.0,
 'rs4240896': 0.0,
 'rs6677649': 0.0,
 'rs4240910': 0.0,
 'rs6541017': 0.0,
 'rs10779731': 0.0,
 'rs1933734': 0.0,
 'rs10864439': 0.0,
 'rs12128766': 1.0,
 'rs1372106': 0.0,
 'rs113346921': 0.0,
 'rs9430244': 0.0,
 'rs6696978': 0.0,
 'rs2273299': 0.0,
 'rs17396340': 0.0,
 'rs72867431': 0.0,
 'rs11588734': 0.0,
 'rs636291': 0.0,
 'rs616488': 0.5,
 'rs6540935': 0.0,
 'rs710130': 0.5,
 'rs4846235': 0.0,
 'rs12090714': 0.0,
 'rs11577757': 0.5,
 'rs284267': 0.0,
 'rs284301': 0.0,
 'rs17035549': 0.0,
 'rs556506': 0.0,
 'rs544722': 0.0,
 'rs56991136': 0.0,
 'rs4845843': 0.0,
 'rs2387415': 0.5,
 'rs12031981': 0.0,
 'rs17035713': 0.5,
 'rs718047': 0.5,
 'rs11121628': 0.0,
 'rs60517477': 0.0,
 'rs1776220': 0.0,
 'rs539790': 0.0,
 'rs2143385': 0.5,
 'rs526764': 0.0,
 'rs1292664': 0.0,
 'rs515331': 0.0,
 'rs12756252': 0.0,
 'rs10864479': 0.0,
 'rs1280970': 0.0,
 'rs7527445': 0.0,
 'rs12755921': 0.0,
 'rs2275490': 0.5,
 'rs6667397': 0.0,
 'rs12565727': 0.0,
 'rs11576658': 0.0,
 'rs3765897': 0.0,
 'rs17409276': 0.0,
 'rs1130683': 0.0,
 'rs12116957': 0.0,
 'rs11121720': 0.0,
 'rs2744854': 0.5,
 'rs2982368': 0.5,
 'rs11121724': 0.0,
 'rs17419268': 0.0,
 'rs2890085': 0.5,
 'rs11121734': 1.0,
 'rs3010217': 0.0,
 'rs2379159': 0.0,
 'rs12046038': 0.0,
 'rs11121750': 0.0,
 'rs75417796': 0.0,
 'rs2235665': 0.0,
 'rs2745291': 0.0,
 'rs12078550': 0.0,
 'rs74055108': 0.0,
 'rs6701965': 0.0,
 'rs12139487': 0.0,
 'rs3125815': 0.0,
 'rs2336030': 0.5,
 'rs9430624': 0.0,
 'rs2336034': 0.0,
 'rs79885019': 0.0,
 'rs10864532': 0.0,
 'rs1133398': 0.5,
 'rs1994798': 0.0,
 'rs7537765': 0.0,
 'rs5065': 0.0,
 'rs5063': 0.0,
 'rs1076626': 0.0,
 'rs1009591': 0.0,
 'rs60600557': 0.0,
 'rs9661078': 0.0,
 'rs11583408': 0.0,
 'rs35575891': 0.0,
 'rs6674558': 0.0,
 'rs11802668': 0.0,
 'rs2236055': 0.0,
 'rs6675934': 0.0,
 'rs76084874': 0.0,
 'rs12759042': 0.0,
 'rs114916358': 0.0,
 'rs6662024': 0.5,
 'rs6690493': 0.0,
 'rs2486316': 0.0,
 'rs551062': 0.0,
 'rs7551317': 0.0,
 'rs1148471': 0.0,
 'rs3766735': 0.0,
 'rs1148459': 1.0,
 'rs80216029': 0.0,
 'rs496888': 0.5,
 'rs1148458': 0.0,
 'rs616645': 0.5,
 'rs1201157': 0.5,
 'rs5746016': 0.0,
 'rs374450': 0.0,
 'rs6685273': 0.0,
 'rs17037979': 0.0,
 'rs475983': 0.0,
 'rs7519797': 0.0,
 'rs12137084': 0.0,
 'rs117470349': 0.0,
 'rs56089820': 0.0,
 'rs7522534': 0.0,
 'rs11121931': 0.0,
 'rs61776828': 0.0,
 'rs3128451': 0.0,
 'rs3128449': 0.0,
 'rs78721879': 0.0,
 'rs4618985': 1.0,
 'rs4240903': 0.5,
 'rs1892067': 0.0,
 'rs4845911': 0.0,
 'rs2255773': 0.0,
 'rs1419299': 0.0,
 'rs3010942': 0.0,
 'rs4361998': 0.0,
 'rs12059239': 0.0,
 'rs2884717': 0.0,
 'rs1812242': 0.5,
 'rs3013105': 0.0,
 'rs3845608': 0.0,
 'rs375996': 0.0,
 'rs10803381': 0.0,
 'rs2990681': 0.0,
 'rs3845609': 0.5,
 'rs424296': 0.0,
 'rs12750399': 0.0,
 'rs3856278': 0.0,
 'rs1610562': 0.5,
 'rs12042662': 0.0,
 'rs12735797': 0.0,
 'rs355021': 1.0,
 'rs1148455': 1.0,
 'rs61777779': 0.0,
 'rs7514217': 1.0,
 'rs92406': 0.0,
 'rs4391657': 0.5,
 'rs876931': 0.0,
 'rs1772635': 0.5,
 'rs16852432': 0.0,
 'rs10803421': 0.0,
 'rs80122938': 0.0,
 'rs12561812': 0.0,
 'rs2495037': 0.0,
 'rs4077841': 0.0,
 'rs2359756': 0.0,
 'rs11580688': 0.0,
 'rs2281164': 0.0,
 'rs2244634': 0.0,
 'rs11588426': 0.0,
 'rs2697971': 0.0,
 'rs2495090': 0.0,
 'rs2697983': 0.0,
 'rs2744656': 0.0,
 'rs12091229': 0.0,
 'rs17350970': 0.0,
 'rs6429800': 0.0,
 'rs1203709': 0.0,
 'rs75105468': 0.0,
 'rs7536590': 0.0,
 'rs10803436': 0.0,
 'rs6429804': 0.0,
 'rs10489150': 0.0,
 'rs1005302': 0.0,
 'rs10927965': 0.0,
 'rs6429815': 0.5,
 'rs10927972': 0.0,
 'rs12024045': 0.0,
 'rs12028225': 0.0,
 'rs10489148': 0.0,
 'rs11585369': 0.0,
 'rs12129723': 0.0,
 'rs12566758': 0.0,
 'rs115030562': 0.0,
 'rs7529368': 0.0,
 'rs4662076': 0.0,
 'rs2206587': 0.0,
 'rs12748863': 0.0,
 'rs3817959': 0.0,
 'rs7515917': 0.5,
 'rs2157565': 1.0,
 'rs6686025': 0.0,
 'rs1934656': 0.0,
 'rs10803463': 0.0,
 'rs9803674': 0.5,
 'rs7542472': 0.0,
 'rs6692372': 0.0,
 'rs646835': 0.0,
 'rs675997': 0.0,
 'rs10754914': 0.0,
 'rs577987': 0.0,
 'rs113625262': 0.0,
 'rs10803475': 0.0,
 'rs6683875': 0.0,
 'rs12077532': 0.0,
 'rs1339363': 0.5,
 'rs1538534': 0.0,
 'rs10927407': 0.0,
 'rs820628': 0.0,
 'rs12028092': 0.0,
 'rs2789746': 0.0,
 'rs35095692': 0.5,
 'rs7538154': 0.0,
 'rs943919': 0.0,
 'rs12122566': 0.0,
 'rs4308970': 0.0,
 'rs1079222': 0.0,
 'rs6659078': 0.0,
 'rs10927440': 0.0,
 'rs2480063': 0.0,
 'rs16850413': 0.0,
 'rs61771925': 0.5,
 'rs3892594': 0.0,
 'rs6673698': 0.0,
 'rs12031233': 0.0,
 'rs10733136': 0.0,
 'rs566329': 0.0,
 'rs11576795': 0.0,
 'rs11578959': 0.5,
 'rs12758763': 0.0,
 'rs12079312': 0.0,
 'rs12354173': 0.0,
 'rs28730493': 0.5,
 'rs6429671': 0.0,
 'rs10737900': 0.5,
 'rs116651733': 0.0,
 'rs1883576': 0.0,
 'rs4661517': 0.0,
 'rs34172886': 0.0,
 'rs7521419': 0.0,
 'rs58313877': 0.0,
 'rs742467': 0.0,
 'rs10927540': 0.5,
 'rs732469': 0.5,
 'rs12088443': 0.0,
 'rs4661528': 0.0,
 'rs57289276': 0.0,
 'rs1737358': 0.5,
 'rs3930209': 0.0,
 'rs10927556': 0.0,
 'rs3795756': 0.0,
 'rs804134': 0.0,
 'rs12127407': 1.0,
 'rs3845596': 0.0,
 'rs4661539': 0.5,
 'rs2807545': 0.0,
 'rs2801178': 0.5,
 'rs2807555': 0.0,
 'rs2807562': 0.0,
 'rs10927579': 0.0,
 'rs16851049': 0.0,
 'rs4661548': 0.5,
 'rs7517187': 0.5,
 'rs4661553': 0.5,
 'rs7522712': 0.5,
 'rs12567150': 1.0,
 'rs10754876': 0.0,
 'rs10803338': 0.0,
 'rs7541955': 0.0,
 'rs12022554': 0.0,
 'rs869712': 0.0,
 'rs17413451': 0.0,
 'rs6684496': 0.0,
 'rs12403509': 0.5,
 'rs2175771': 0.0,
 'rs4520412': 0.0,
 'rs761288': 0.5,
 'rs1000313': 0.5,
 'rs476859': 0.0,
 'rs72640722': 0.0,
 'rs496567': 0.0,
 'rs2235788': 1.0,
 'rs1546906': 0.0,
 'rs761301': 0.0,
 'rs61782687': 0.0,
 'rs6429717': 0.0,
 'rs4661594': 0.0,
 'rs10927710': 0.5,
 'rs7528237': 0.5,
 'rs59069064': 0.0,
 'rs3753313': 0.5,
 'rs549': 0.0,
 'rs4661327': 0.0,
 'rs10803369': 0.0,
 'rs7355207': 0.5,
 'rs10803370': 0.0,
 'rs11585810': 0.0,
 'rs1752021': 0.0,
 'rs6676098': 0.0,
 'rs56388951': 0.0,
 'rs10803376': 0.5,
 'rs7550951': 0.0,
 'rs7549599': 0.0,
 'rs763821': 0.0,
 'rs12126178': 0.0,
 'rs2473358': 0.0,
 'rs4661330': 0.0,
 'rs876295': 0.5,
 'rs57862684': 0.5,
 'rs2092324': 0.0,
 'rs7525279': 0.5,
 'rs12070915': 0.0,
 'rs142324086': 0.0,
 'rs6693417': 1.0,
 'rs16851653': 0.0,
 'rs2020902': 0.0,
 'rs4646025': 0.5,
 'rs12736181': 0.5,
 'rs11580170': 0.0,
 'rs927207': 0.0,
 'rs1006147': 0.0,
 'rs35365738': 0.0,
 'rs938295': 0.0,
 'rs7552077': 0.0,
 'rs16852052': 0.0,
 'rs6429787': 0.0,
 'rs10927873': 0.0,
 'rs59454432': 0.5,
 'rs1739822': 0.0,
 'rs1544131': 0.0,
 'rs10754899': 0.5,
 'rs9442228': 0.0,
 'rs9442234': 0.0,
 'rs12062567': 0.0,
 'rs28635926': 0.0,
 'rs28490872': 0.5,
 'rs11260742': 0.0,
 'rs1566145': 0.5,
 'rs4661721': 0.5,
 'rs11590217': 0.5,
 'rs11260738': 0.0,
 'rs11260756': 0.0,
 'rs156851': 0.0,
 'rs12059633': 0.0,
 'rs12745538': 0.0,
 'rs3738815': 0.0,
 'rs2647168': 0.0,
 'rs11203280': 1.0,
 'rs2746472': 0.0,
 'rs2746535': 0.5,
 'rs910233': 0.0,
 'rs11587313': 0.0,
 'rs910228': 0.0,
 'rs2014718': 0.0,
 'rs910224': 0.0,
 'rs10788657': 0.5,
 'rs2746479': 0.0,
 'rs6693480': 0.0,
 'rs11203312': 0.0,
 'rs2977274': 0.0,
 'rs2977283': 0.0,
 'rs3003482': 0.0,
 'rs10127662': 0.0,
 'rs3003409': 0.0,
 'rs2977313': 0.0,
 'rs3003424': 0.0,
 'rs3750300': 0.0,
 'rs2977269': 0.0,
 'rs2977295': 1.0,
 'rs6666990': 0.0,
 'rs7548900': 0.0,
 'rs2501787': 0.5,
 'rs2147333': 0.0,
 'rs16825533': 0.0,
 'rs11203368': 0.0,
 'rs1635566': 0.5,
 'rs1204890': 0.5,
 'rs10788668': 0.0,
 'rs2526833': 0.5,
 'rs1408420': 0.5,
 'rs148459747': 0.0,
 'rs115618444': 0.0,
 'rs11203414': 0.0,
 'rs4920374': 0.0,
 'rs1408953': 0.5,
 'rs4920380': 0.5,
 'rs16829190': 0.0,
 'rs12059707': 0.0,
 'rs869526': 0.0,
 'rs12023874': 0.5,
 'rs1553400': 0.0,
 'rs4920625': 0.0,
 'rs4920627': 0.5,
 'rs260514': 0.0,
 'rs72927118': 0.0,
 'rs4920381': 0.0,
 'rs11203456': 0.0,
 'rs7552919': 0.0,
 'rs685987': 0.0,
 'rs11203473': 0.0,
 'rs587276': 0.0,
 'rs597865': 0.0,
 'rs6686929': 0.0,
 'rs883136': 0.0,
 'rs623276': 0.0,
 'rs1572345': 0.0,
 'rs673567': 0.5,
 'rs16861364': 0.0,
 'rs6685120': 0.0,
 'rs181098602': 0.0,
 'rs11588830': 0.0,
 'rs1192613': 0.5,
 'rs12022529': 1.0,
 'rs10443203': 0.0,
 'rs6586487': 0.0,
 'rs794237': 0.0,
 'rs2355459': 0.0,
 'rs75002180': 0.0,
 'rs897496': 0.0,
 'rs9661386': 0.0,
 'rs11261023': 0.0,
 'rs930851': 0.0,
 'rs12072266': 0.5,
 'rs12131391': 0.0,
 'rs9725656': 0.0,
 'rs75680752': 0.0,
 'rs9659598': 0.0,
 'rs4311853': 0.0,
 'rs12126587': 0.0,
 'rs4920300': 0.0,
 'rs11260939': 0.0,
 'rs10907295': 0.5,
 'rs11578597': 0.5,
 'rs1013007': 0.0,
 'rs12033929': 0.0,
 'rs10907297': 0.5,
 'rs1341306': 0.0,
 'rs109490': 0.0,
 'rs223198': 0.0,
 'rs223177': 0.0,
 'rs409490': 0.5,
 'rs60003665': 0.0,
 'rs12401665': 0.5,
 'rs79544403': 0.0,
 'rs761585': 0.0,
 'rs223222': 0.0,
 'rs223226': 0.0,
 'rs484128': 0.0,
 'rs517004': 0.0,
 'rs35813471': 0.0,
 'rs10489573': 0.0,
 'rs4920485': 0.0,
 'rs945499': 0.0,
 'rs12566510': 0.0,
 'rs10492995': 0.0,
 'rs12138463': 0.0,
 'rs61763871': 0.0,
 'rs7512723': 0.0,
 'rs146078862': 0.0,
 'rs11261002': 0.0,
 'rs17437569': 0.0,
 'rs2946525': 0.0,
 'rs72655618': 0.0,
 'rs2946532': 0.0,
 'rs56288501': 0.0,
 'rs3007729': 0.0,
 'rs12061898': 0.5,
 'rs7528206': 0.0,
 'rs3007720': 0.0,
 'rs10907313': 0.0,
 'rs4531264': 0.0,
 'rs4920327': 0.0,
 'rs2745302': 0.0,
 'rs2816030': 0.0,
 'rs4375229': 0.0,
 'rs2816043': 0.0,
 'rs7549273': 0.0,
 'rs72937240': 0.0,
 'rs742070': 0.0,
 'rs2743208': 0.0,
 'rs1416464': 0.5,
 'rs682616': 0.0,
 'rs624761': 0.0,
 'rs2236817': 0.0,
 'rs9439731': 0.0,
 'rs485874': 0.5,
 'rs626600': 0.0,
 'rs7418296': 0.0,
 'rs7411058': 0.0,
 'rs12063142': 0.5,
 'rs4920545': 0.0,
 'rs4920550': 0.0,
 'rs3935570': 0.0,
 'rs7534618': 0.5,
 'rs28405907': 0.5,
 'rs6698642': 0.0,
 'rs4912013': 0.0,
 'rs1886767': 0.0,
 'rs56032131': 0.0,
 'rs1570857': 0.0,
 'rs7537573': 0.0,
 'rs12118553': 0.0,
 'rs10916867': 0.0,
 'rs11802186': 0.0,
 'rs6663221': 0.0,
 'rs7519084': 0.0,
 'rs12122656': 0.0,
 'rs710865': 0.0,
 'rs1042380': 0.0,
 'rs9729157': 0.0,
 'rs2227295': 0.5,
 'rs214341': 1.0,
 'rs7533994': 0.0,
 'rs214307': 0.0}

In [ ]:
import pandas as pd
df = pd.read_csv(pop_path, sep=' ', header=None)


# conver df_bim['variantID'] to a list
columns= df_bim['variantID'].to_list()
columns.insert(0, 'familyID')
columns.insert(1, 'individualID')
columns.insert(2, 'fatherID')
columns.insert(3, 'motherID')
columns.insert(4,'Sex')
columns.insert(5, 'date')

df.columns=columns
df.date=None

df



minor=df_bim['minor'].to_list()
minor.insert(0, 'None')
minor.insert(1, 'None')
minor.insert(2, 'None')
minor.insert(3, 'None')
minor.insert(4,'None')
minor.insert(5, 'None')

minor[6]





dfeuro = pd.read_excel(
    'Data/Eurasian - Dataset_tims.xlsx', sheet_name='Eurasian')
dfeuro = pd.DataFrame(dfeuro)
dfeuro.rename(columns={
              'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]': 'date'}, inplace=True)

dfeuro.info()




date_range= [0,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000,11000]
# if dfeuro['date'] is in the range of date_range, then dfeuro['cat_date'] is the index of the range
dfeuro['cat_date']=pd.cut(dfeuro['date'], date_range, labels=range(0, len(date_range)-1))



# locate df['individualID'] in dfeuro['Master ID'] and add df['cat_date'] to the df[date]
for i in range(0, len(df)):
    for j in range(0, len(dfeuro)):
        if df['individualID'][i] == dfeuro['Master ID'][j]:
            df['date'][i]=dfeuro['cat_date'][j]




freq={}
df=df[df['date']==date]
for i in range(6, 1000):
    # 
        minor3=minor[i]
        # number of rows in the dataframe
        count=0
        totall=len(df)*2
        for j in range(0, len(df)):
            # count occurrences of the minor allele in column i
            count+= str(df.iloc[j,i]).count(str(minor3))
        freq[df.columns[i]]=count/totall
    

freq

In [ ]:
import pandas as pd


def calculate_minor_allele_frequency(pop_path, bim_path, eurasian_path, date):
    # Read in the population data
    df = pd.read_csv(pop_path, sep=' ', header=None)

    # Read in the bim data and convert variantID column to a list
    df_bim = pd.read_csv(bim_path, sep='\t', header=None)
    columns = df_bim[1].tolist()
    columns.insert(0, 'familyID')
    columns.insert(1, 'individualID')
    columns.insert(2, 'fatherID')
    columns.insert(3, 'motherID')
    columns.insert(4,'Sex')
    columns.insert(5, 'date')
    df.columns = columns
    df.date = None

    # Create a list of the minor alleles
    minor = df_bim[4].tolist()
    minor.insert(0, 'None')
    minor.insert(1, 'None')
    minor.insert(2, 'None')
    minor.insert(3, 'None')
    minor.insert(4,'None')
    minor.insert(5, 'None')

    # Read in the Eurasian data and rename the date column
    dfeuro = pd.read_excel(eurasian_path, sheet_name='Eurasian')
    dfeuro = pd.DataFrame(dfeuro)
    dfeuro.rename(columns={
                  'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]': 'date'}, inplace=True)

    # Categorize the Eurasian dates
    date_range = [0,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000,11000]
    dfeuro['cat_date'] = pd.cut(dfeuro['date'], date_range, labels=range(0, len(date_range)-1))

    # Locate the individual IDs in the Eurasian data and add the category dates to the population data
    for i in range(0, len(df)):
        for j in range(0, len(dfeuro)):
            if df['individualID'][i] == dfeuro['Master ID'][j]:
                df['date'][i] = dfeuro['cat_date'][j]

    # Calculate the minor allele frequencies for the specified date
    freq = {}
    df = df[df['date'] == date]
    for i in range(6, len(df.columns)):
        count = 0
        total = len(df) * 2
        for j in range(0, len(df)):
            count += str(df.iloc[j, i]).count(str(minor[i]))
        freq[df.columns[i]] = count / total

    return freq