In [ ]:
# # Load the PED file 
# file= "Data/s1.ped"
# import csv
# dict={}
# names=[]
# meta=[]
# # Open the PED file for reading
# with open(file, 'r') as ped_file:
#     # Create a CSV reader object
#     reader = csv.reader(ped_file, delimiter=' ')
#     # For each row in the file   
#     for row in reader:
#         # for each pair of alleles in the row
#         counter=0
#         meta.append(row[0:6])
#         for i in range(6, len(row), 2):
#             # get the two alleles
#             allele1 = row[i]
#             allele2 = row[i+1]
#             counter+=1
#             name= 'var'+str(counter)
            
#             # if the name is not in the dictionary, add it
#             if name not in dict:
#                 dict[name] = str(allele1)+str(allele2)
                
#             # if the name is in the dictionary, add the alleles to the existing string
#             else:
#                 dict[name] += str(allele1)+str(allele2)
# freq={}

# import collections
# for key in dict:
#     freq[key]=collections.Counter(dict[key])
    
# # convert the dictionary to a dataframe
# import pandas as pd
# df = pd.DataFrame.from_dict(freq, orient='index')
# # df[total] sum of the counts of each allele if the allele is present in the population
# df['total']=df.sum(axis=1)

# # each allele is divided by the total to get the frequency of the allele
# for i in range(0, len(df.columns)-1):
#     df.iloc[:,i]=df.iloc[:,i]/df['total']
    
# df.to_csv('Data/s1_freq.csv', sep='\t')

In [ ]:
import collections
import pandas as pd

def compute_allele_freqs(file_path):
    # Initialize variables
    dict_alleles = {}
    names = []
    meta = []
    
    # Open the PED file for reading
    with open(file_path, 'r') as ped_file:
        # For each row in the file   
        for row in ped_file:
            row_data = row.strip().split()
            
            # Collect metadata information
            meta.append(row_data[0:6])
            
            # Process allele pairs
            for i in range(6, len(row_data), 2):
                allele1 = row_data[i]
                allele2 = row_data[i+1]
                
                # Create allele name
                name = f'var{i//2}'
                
                # Append alleles to dictionary
                if name not in dict_alleles:
                    dict_alleles[name] = str(allele1) + str(allele2)
                else:
                    dict_alleles[name] += str(allele1) + str(allele2)
    
    # Compute allele frequencies
    freq_dict = {}
    for key in dict_alleles:
        freq_dict[key] = collections.Counter(dict_alleles[key])
        
    # Create pandas DataFrame
    df = pd.DataFrame.from_dict(freq_dict, orient='index')
    
    # Add total column
    df['total'] = df.sum(axis=1)
    
    # Normalize allele frequencies
    for i in range(len(df.columns) - 1):
        df.iloc[:, i] = df.iloc[:, i] / df['total']
        
    return df

In [ ]:
file_path = 'Data/s1.ped'
df = compute_allele_freqs(file_path)
df

In [ ]:
df.to_csv('Data/s1_freq.csv', sep='\t')

# Bim File

variant identifier and minor allele

In [3]:
import pandas as pd
df_bim=pd.read_csv('Data/DataS1.bim', sep='\t', header=None)
df_map= pd.read_csv('Data/s1.map', sep='\t', header=None)
df_bim #iloc[, [1,4]]
df_map #iloc[, [1]]
# for every row if df_bim.iloc[row,1] is not df_map.iloc[:,1] drop the row
df_bim=df_bim[df_bim.iloc[:,1].isin(df_map.iloc[:,1])]
df_bim.columns=['chromosome', 'variantID', 'genetic_distance', 'position', 'minor', 'major']
df_bim

        chromosome   variantID  genetic_distance  position  minor  major
0                1   rs3094315          0.020130    752566      3      1
1                1   rs6696609          0.024457    903426      4      2
2                1   rs9442372          0.026288   1018704      1      3
3                1   rs4970405          0.026674   1048955      3      1
4                1  rs11807848          0.026711   1061166      2      4
...            ...         ...               ...       ...    ...    ...
147223          22   rs6010062          0.740407  51156732      1      3
147224          22    rs715586          0.740465  51163138      4      2
147225          22   rs8137951          0.740478  51165664      1      3
147226          22   rs3810648          0.740745  51175626      3      1
147227          22  rs78827609          0.740750  51176347      4      2

[118837 rows x 6 columns]

# Ped File

familly id and individual id and allels

## Split the ped file by familly id

In [2]:
import os
 
def split_and_convert(file_path):
    # Create a directory to store output files
    os.makedirs('Data/out', exist_ok=True)
    populations = []
    with open(file_path, 'r') as ped_file:
        for row in ped_file:
            row_data = row.strip().split()
            populations.append(row_data[0])
            pedigree = row_data[0]
            with open(f'Data/out/{pedigree}.txt', 'a') as out_file:
                # Join the pairs of alleles in each row
                new_fields = row_data[:6]
                for i in range(6, len(row_data), 2):
                    new_fields.append(row_data[i] + row_data[i+1])
                # Write the new fields to the output file
                out_file.write(' '.join(new_fields) + '\n')
        
    return list(set(populations))

file_path = 'Data/s1.ped'

populations = split_and_convert(file_path)
print(populations)

['Israel', 'Iran', 'Estonia', 'UnitedKingdom', 'Greece', 'Spain', 'Sweden', 'France', 'Norway', 'Russia', 'Portugal', 'Turkey', 'Serbia', 'CzechRepublic', 'Latvia', 'Jordan', 'Austria', 'Poland', 'Ukraine', 'TheNetherlands', 'Bulgaria', 'Croatia', 'Italy', 'Lithuania', 'Switzerland', 'Denmark', 'Romania', 'Luxembourg', 'Macedonia', 'Georgia', 'Kazakhstan', 'Germany', 'Hungary', 'Armenia']

In [89]:
pop_selection = 'Sweden'
pop_path=f'Data/out/{pop_selection}.txt'
date=1

import pandas as pd
df = pd.read_csv(pop_path, sep=' ', header=None)

# conver df_bim['variantID'] to a list
columns= df_bim['variantID'].to_list()
columns.insert(0, 'familyID')
columns.insert(1, 'individualID')
columns.insert(2, 'fatherID')
columns.insert(3, 'motherID')
columns.insert(4,'Sex')
columns.insert(5, 'date')



df.columns=columns

df

,familyID,individualID,fatherID,motherID,Sex,date,rs3094315,rs6696609,rs9442372,rs4970405,...,rs80055960,rs114003743,rs739365,rs9616945,rs5770820,rs6010062,rs715586,rs8137951,rs3810648,rs78827609
0,Sweden,Saxtorp5164,0,0,2,1,0,0,0,11,...,0,33,22,0,0,0,22,0,0,0
1,Sweden,Olsund,0,0,1,1,11,44,11,11,...,22,33,44,33,11,33,22,33,0,22
2,Sweden,Ajvide70,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Sweden,sf12,0,0,0,1,11,42,33,11,...,22,33,22,33,33,33,22,33,11,22
4,Sweden,RISE179,0,0,1,1,0,0,0,0,...,0,0,0,0,11,0,0,0,0,0
5,Sweden,I0017,0,0,1,1,11,22,0,11,...,22,33,22,33,33,33,22,33,11,44
6,Sweden,I0013,0,0,1,1,11,0,33,11,...,22,33,22,33,33,11,22,11,33,0
7,Sweden,I0011,0,0,2,1,0,22,33,11,...,22,33,0,11,33,11,0,33,11,22
8,Sweden,I0015,0,0,1,1,33,44,11,11,...,22,33,44,0,33,0,22,11,11,22
9,Sweden,I0012,0,0,1,1,11,22,33,11,...,22,33,44,33,11,11,44,33,11,0
10,Sweden,I0014,0,0,2,1,11,22,33,11,...,22,33,22,33,33,11,22,33,11,22
11,Sweden,RISE94,0,0,1,1,0,22,33,0,...,22,33,44,0,33,0,22,33,0,22
12,Sweden,RISE97,0,0,2,1,0,44,33,0,...,22,33,22,33,33,33,22,33,0,0
13,Sweden,RISE98,0,0,1,1,11,44,33,11,...,44,33,22,11,11,11,22,11,11,22
14,Sweden,RISE175,0,0,1,1,0,0,0,0,...,0,33,0,0,0,0,22,0,0,0
15,Sweden,RISE210,0,0,1,1,0,22,0,0,...,0,0,22,0,0,0,0,0,0,0
16,Sweden,RISE174,0,0,0,-9,0,0,0,0,...,0,0,42,13,13,13,0,0,0,0
17,Sweden,sf11,0,0,1,1,0,0,0,11,...,0,33,44,0,0,0,22,0,0,22
18,Sweden,Ajvide52,0,0,1,1,0,22,0,11,...,0,0,0,0,0,0,0,0,0,0
19,Sweden,Ajvide58,0,0,1,1,11,0,33,11,...,22,33,22,0,33,11,22,11,11,22
20,Sweden,Gokhem2,0,0,2,1,11,22,33,11,...,22,33,22,11,33,33,44,33,0,22
21,Sweden,I0016,0,0,1,1,11,22,33,11,...,22,33,22,0,33,33,44,33,11,0

In [90]:

minor=df_bim['minor'].to_list()
minor.insert(0, 'familyID')
minor.insert(1, 'individualID')
minor.insert(2, 'fatherID')
minor.insert(3, 'motherID')
minor.insert(4,'Sex')
minor.insert(5, 'phenotype')

minor[6]

3

In [57]:
freq={}
for i in range(6, len(df.columns)):
    minor3=minor[i]
    # number of rows in the dataframe
    count=0
    totall=len(df)*2
    for j in range(0, len(df)):
        # count occurrences of the minor allele in column i
        count+= str(df.iloc[j,i]).count(str(minor3))
    freq[df.columns[i]]=count/totall
    

freq

{'rs3094315': 0.045454545454545456,
 'rs6696609': 0.20454545454545456,
 'rs9442372': 0.09090909090909091,
 'rs4970405': 0.0,
 'rs11807848': 0.022727272727272728,
 'rs4970421': 0.0,
 'rs2887286': 0.13636363636363635,
 'rs113791678': 0.045454545454545456,
 'rs12073590': 0.0,
 'rs111856013': 0.0,
 'rs3843249': 0.2727272727272727,
 'rs6603791': 0.29545454545454547,
 'rs6687029': 0.18181818181818182,
 'rs6692959': 0.045454545454545456,
 'rs28508199': 0.2727272727272727,
 'rs28549710': 0.4318181818181818,
 'rs4648747': 0.20454545454545456,
 'rs4648752': 0.0,
 'rs13303344': 0.18181818181818182,
 'rs6701689': 0.13636363636363635,
 'rs1467218': 0.0,
 'rs72907476': 0.0,
 'rs77602667': 0.0,
 'rs436045': 0.22727272727272727,
 'rs2257182': 0.45454545454545453,
 'rs260512': 0.29545454545454547,
 'rs10797417': 0.0,
 'rs2036084': 0.06818181818181818,
 'rs2132595': 0.2727272727272727,
 'rs4648831': 0.045454545454545456,
 'rs2645086': 0.36363636363636365,
 'rs7545940': 0.18181818181818182,
 'rs6665546': 0.20454545454545456,
 'rs10910060': 0.045454545454545456,
 'rs10910061': 0.0,
 'rs3736330': 0.09090909090909091,
 'rs2494599': 0.1590909090909091,
 'rs10797421': 0.25,
 'rs2494439': 0.11363636363636363,
 'rs4995304': 0.25,
 'rs2246732': 0.2727272727272727,
 'rs2764841': 0.25,
 'rs6680471': 0.5909090909090909,
 'rs10910019': 0.4090909090909091,
 'rs2842909': 0.045454545454545456,
 'rs2495271': 0.0,
 'rs11583804': 0.20454545454545456,
 'rs56877975': 0.09090909090909091,
 'rs60402802': 0.045454545454545456,
 'rs1572657': 0.022727272727272728,
 'rs10797373': 0.0,
 'rs56091202': 0.022727272727272728,
 'rs115905994': 0.0,
 'rs7543737': 0.18181818181818182,
 'rs2981870': 0.022727272727272728,
 'rs2993500': 0.29545454545454547,
 'rs4648453': 0.045454545454545456,
 'rs2817178': 0.09090909090909091,
 'rs35360783': 0.06818181818181818,
 'rs10909883': 0.045454545454545456,
 'rs731031': 0.09090909090909091,
 'rs1798246': 0.3181818181818182,
 'rs2651929': 0.09090909090909091,
 'rs4648368': 0.045454545454545456,
 'rs2651891': 0.045454545454545456,
 'rs10909907': 0.045454545454545456,
 'rs72632109': 0.0,
 'rs17398063': 0.20454545454545456,
 'rs3002685': 0.022727272727272728,
 'rs10909918': 0.3181818181818182,
 'rs74048225': 0.0,
 'rs2483266': 0.5227272727272727,
 'rs2255212': 0.13636363636363635,
 'rs4415513': 0.36363636363636365,
 'rs17399569': 0.0,
 'rs4648485': 0.2727272727272727,
 'rs11584942': 0.0,
 'rs12085231': 0.25,
 'rs868689': 0.045454545454545456,
 'rs12726710': 0.20454545454545456,
 'rs17822581': 0.1590909090909091,
 'rs2068354': 0.22727272727272727,
 'rs12124567': 0.11363636363636363,
 'rs12568681': 0.0,
 'rs2487687': 0.0,
 'rs883427': 0.06818181818181818,
 'rs10909969': 0.09090909090909091,
 'rs2821053': 0.045454545454545456,
 'rs60957843': 0.38636363636363635,
 'rs4648537': 0.09090909090909091,
 'rs3765696': 0.045454545454545456,
 'rs3819967': 0.22727272727272727,
 'rs72637004': 0.022727272727272728,
 'rs1181877': 0.09090909090909091,
 'rs1181875': 0.0,
 'rs12759497': 0.045454545454545456,
 'rs6663840': 0.13636363636363635,
 'rs6660459': 0.18181818181818182,
 'rs77838018': 0.0,
 'rs4074709': 0.045454545454545456,
 'rs3205087': 0.4090909090909091,
 'rs111854503': 0.0,
 'rs185656431': 0.0,
 'rs12724233': 0.5227272727272727,
 'rs7551771': 0.29545454545454547,
 'rs10737395': 0.0,
 'rs4654428': 0.3409090909090909,
 'rs4654525': 0.3409090909090909,
 'rs10449244': 0.13636363636363635,
 'rs6675979': 0.4772727272727273,
 'rs6672264': 0.18181818181818182,
 'rs75712447': 0.0,
 'rs4440829': 0.13636363636363635,
 'rs10915360': 0.0,
 'rs10915366': 0.0,
 'rs9792946': 0.022727272727272728,
 'rs10915400': 0.13636363636363635,
 'rs4391636': 0.5,
 'rs10915421': 0.13636363636363635,
 'rs6676961': 0.2727272727272727,
 'rs10915428': 0.3409090909090909,
 'rs7548756': 0.06818181818181818,
 'rs10737402': 0.13636363636363635,
 'rs57434236': 0.25,
 'rs12083774': 0.09090909090909091,
 'rs35986531': 0.4318181818181818,
 'rs4654492': 0.38636363636363635,
 'rs74880958': 0.045454545454545456,
 'rs4233262': 0.09090909090909091,
 'rs35392680': 0.20454545454545456,
 'rs4512614': 0.22727272727272727,
 'rs966321': 0.38636363636363635,
 'rs10737406': 0.045454545454545456,
 'rs7529363': 0.29545454545454547,
 'rs693734': 0.045454545454545456,
 'rs1490413': 0.06818181818181818,
 'rs1495239': 0.09090909090909091,
 'rs351615': 0.18181818181818182,
 'rs639739': 0.022727272727272728,
 'rs614534': 0.11363636363636363,
 'rs10915517': 0.045454545454545456,
 'rs670174': 0.1590909090909091,
 'rs349393': 0.11363636363636363,
 'rs349390': 0.1590909090909091,
 'rs349416': 0.20454545454545456,
 'rs508647': 0.11363636363636363,
 'rs706144': 0.3181818181818182,
 'rs780586': 0.0,
 'rs10915541': 0.09090909090909091,
 'rs780587': 0.11363636363636363,
 'rs608210': 0.13636363636363635,
 'rs6426417': 0.09090909090909091,
 'rs1037800': 0.18181818181818182,
 'rs350171': 0.11363636363636363,
 'rs705689': 0.2727272727272727,
 'rs780606': 0.38636363636363635,
 'rs350187': 0.09090909090909091,
 'rs1710415': 0.09090909090909091,
 'rs608203': 0.22727272727272727,
 'rs111999731': 0.09090909090909091,
 'rs241238': 0.4772727272727273,
 'rs12092980': 0.09090909090909091,
 'rs171319': 0.13636363636363635,
 'rs12120353': 0.18181818181818182,
 'rs241275': 0.0,
 'rs115225824': 0.0,
 'rs1541318': 0.2727272727272727,
 'rs4654446': 0.5,
 'rs532259': 0.18181818181818182,
 'rs12567277': 0.022727272727272728,
 'rs618751': 0.2727272727272727,
 'rs164781': 0.25,
 'rs6668002': 0.18181818181818182,
 'rs61764967': 0.3181818181818182,
 'rs1107468': 0.0,
 'rs115785205': 0.0,
 'rs1483198': 0.11363636363636363,
 'rs6658403': 0.09090909090909091,
 'rs1531831': 0.0,
 'rs11587129': 0.22727272727272727,
 'rs75303035': 0.0,
 'rs10915585': 0.022727272727272728,
 'rs2071991': 0.045454545454545456,
 'rs74697122': 0.0,
 'rs4993529': 0.1590909090909091,
 'rs10915587': 0.18181818181818182,
 'rs72638815': 0.045454545454545456,
 'rs3820251': 0.09090909090909091,
 'rs3753702': 0.09090909090909091,
 'rs540299': 0.045454545454545456,
 'rs12119789': 0.18181818181818182,
 'rs9426484': 0.25,
 'rs11805709': 0.1590909090909091,
 'rs78993684': 0.1590909090909091,
 'rs12122126': 0.13636363636363635,
 'rs7527319': 0.20454545454545456,
 'rs12567053': 0.0,
 'rs7525315': 0.1590909090909091,
 'rs2031246': 0.22727272727272727,
 'rs6678459': 0.18181818181818182,
 'rs10915668': 0.20454545454545456,
 'rs10915670': 0.0,
 'rs11584727': 0.06818181818181818,
 'rs4654470': 0.11363636363636363,
 'rs9426467': 0.06818181818181818,
 'rs4654471': 0.36363636363636365,
 'rs7555212': 0.09090909090909091,
 'rs6669905': 0.20454545454545456,
 'rs9426490': 0.13636363636363635,
 'rs12029491': 0.0,
 'rs72635317': 0.045454545454545456,
 'rs12127329': 0.25,
 'rs6666330': 0.06818181818181818,
 'rs1106585': 0.22727272727272727,
 'rs10915308': 0.4090909090909091,
 'rs10915310': 0.18181818181818182,
 'rs720318': 0.13636363636363635,
 'rs149893462': 0.0,
 'rs6603832': 0.38636363636363635,
 'rs3128689': 0.18181818181818182,
 'rs12120144': 0.18181818181818182,
 'rs10915342': 0.13636363636363635,
 'rs4949171': 0.11363636363636363,
 'rs10737397': 0.20454545454545456,
 'rs10915359': 0.11363636363636363,
 'rs9439509': 0.18181818181818182,
 'rs12121369': 0.13636363636363635,
 'rs10492931': 0.18181818181818182,
 'rs17375504': 0.11363636363636363,
 'rs12136793': 0.18181818181818182,
 'rs79870364': 0.06818181818181818,
 'rs534321': 0.11363636363636363,
 'rs10915395': 0.3409090909090909,
 'rs12135834': 0.1590909090909091,
 'rs72852189': 0.0,
 'rs12089315': 0.022727272727272728,
 'rs499416': 0.2727272727272727,
 'rs12139398': 0.09090909090909091,
 'rs10492935': 0.045454545454545456,
 'rs17423547': 0.20454545454545456,
 'rs12145750': 0.3181818181818182,
 'rs9286979': 0.18181818181818182,
 'rs912991': 0.36363636363636365,
 'rs140143457': 0.0,
 'rs2031582': 0.29545454545454547,
 'rs1326005': 0.22727272727272727,
 'rs76980187': 0.18181818181818182,
 'rs7418357': 0.1590909090909091,
 'rs61759104': 0.11363636363636363,
 'rs17028133': 0.18181818181818182,
 'rs12134185': 0.22727272727272727,
 'rs2153900': 0.0,
 'rs6673119': 0.0,
 'rs7522344': 0.11363636363636363,
 'rs1775421': 0.045454545454545456,
 'rs1818038': 0.13636363636363635,
 'rs10907200': 0.38636363636363635,
 'rs1573094': 0.045454545454545456,
 'rs11260662': 0.13636363636363635,
 'rs945325': 0.2727272727272727,
 'rs9439603': 0.1590909090909091,
 'rs11260666': 0.0,
 'rs12033422': 0.18181818181818182,
 'rs1499395': 0.29545454545454547,
 'rs12137393': 0.20454545454545456,
 'rs6699073': 0.0,
 'rs770720': 0.11363636363636363,
 'rs707580': 0.06818181818181818,
 'rs770701': 0.13636363636363635,
 'rs770703': 0.1590909090909091,
 'rs796396': 0.11363636363636363,
 'rs116094228': 0.0,
 'rs873982': 0.36363636363636365,
 'rs1875038': 0.11363636363636363,
 'rs2649086': 0.25,
 'rs2649083': 0.5681818181818182,
 'rs116219697': 0.0,
 'rs72643046': 0.09090909090909091,
 'rs2842258': 0.09090909090909091,
 'rs17429690': 0.0,
 'rs4129514': 0.045454545454545456,
 'rs7415495': 0.09090909090909091,
 'rs28637880': 0.0,
 'rs6687650': 0.3409090909090909,
 'rs138487454': 0.0,
 'rs495376': 0.25,
 'rs548726': 0.045454545454545456,
 'rs112006378': 0.0,
 'rs9729880': 0.22727272727272727,
 'rs2134551': 0.09090909090909091,
 'rs9628989': 0.045454545454545456,
 'rs10492950': 0.0,
 'rs11120934': 0.20454545454545456,
 'rs1295100': 0.20454545454545456,
 'rs482158': 0.36363636363636365,
 'rs11121065': 0.0,
 'rs115204861': 0.0,
 'rs4908752': 0.09090909090909091,
 'rs3789541': 0.13636363636363635,
 'rs35183981': 0.045454545454545456,
 'rs2229002': 0.25,
 'rs3810989': 0.36363636363636365,
 'rs12121229': 0.25,
 'rs731975': 0.09090909090909091,
 'rs11121478': 0.20454545454545456,
 'rs6577565': 0.045454545454545456,
 'rs7547093': 0.11363636363636363,
 'rs74845901': 0.0,
 'rs76504447': 0.13636363636363635,
 'rs17026985': 0.045454545454545456,
 'rs113269467': 0.0,
 'rs3007421': 0.18181818181818182,
 'rs58029228': 0.0,
 'rs1010584': 0.20454545454545456,
 'rs742394': 0.3181818181818182,
 'rs12137794': 0.06818181818181818,
 'rs200449': 0.18181818181818182,
 'rs3827729': 0.06818181818181818,
 'rs277671': 0.18181818181818182,
 'rs277665': 0.09090909090909091,
 'rs430962': 0.4090909090909091,
 'rs17441830': 0.045454545454545456,
 'rs950493': 0.2727272727272727,
 'rs17030041': 0.13636363636363635,
 'rs4908575': 0.11363636363636363,
 'rs4518923': 0.36363636363636365,
 'rs6698901': 0.38636363636363635,
 'rs2275907': 0.29545454545454547,
 'rs7543753': 0.11363636363636363,
 'rs4908594': 0.20454545454545456,
 'rs11584416': 0.11363636363636363,
 'rs2187901': 0.11363636363636363,
 'rs2071917': 0.20454545454545456,
 'rs2071918': 0.0,
 'rs1010807': 0.29545454545454547,
 'rs7527268': 0.5909090909090909,
 'rs10779675': 0.09090909090909091,
 'rs6702815': 0.0,
 'rs7527889': 0.09090909090909091,
 'rs6667429': 0.18181818181818182,
 'rs6577417': 0.38636363636363635,
 'rs6680365': 0.09090909090909091,
 'rs78157695': 0.045454545454545456,
 'rs60940404': 0.0,
 'rs1476047': 0.18181818181818182,
 'rs6698698': 0.3409090909090909,
 'rs4140605': 0.18181818181818182,
 'rs12409413': 0.1590909090909091,
 'rs17350193': 0.0,
 'rs7543711': 0.1590909090909091,
 'rs2301462': 0.06818181818181818,
 'rs36074838': 0.1590909090909091,
 'rs845237': 0.0,
 'rs4908629': 0.0,
 'rs845234': 0.09090909090909091,
 'rs10864301': 0.045454545454545456,
 'rs1193220': 0.18181818181818182,
 'rs1193221': 0.2727272727272727,
 'rs11807070': 0.0,
 'rs1193245': 0.29545454545454547,
 'rs17445205': 0.0,
 'rs1193239': 0.3181818181818182,
 'rs732401': 0.045454545454545456,
 'rs1011126': 0.36363636363636365,
 'rs1193182': 0.13636363636363635,
 'rs1193183': 0.38636363636363635,
 'rs7526892': 0.09090909090909091,
 'rs10864304': 0.0,
 'rs6577446': 0.18181818181818182,
 'rs2478267': 0.18181818181818182,
 'rs1725223': 0.4090909090909091,
 'rs36099749': 0.13636363636363635,
 'rs77869434': 0.045454545454545456,
 'rs957856': 0.18181818181818182,
 'rs78552027': 0.13636363636363635,
 'rs6696544': 0.25,
 'rs4317829': 0.09090909090909091,
 'rs12139470': 0.045454545454545456,
 'rs4908660': 0.09090909090909091,
 'rs4908672': 0.38636363636363635,
 'rs4908473': 0.045454545454545456,
 'rs3011936': 0.09090909090909091,
 'rs10779689': 0.13636363636363635,
 'rs4908480': 0.18181818181818182,
 'rs1044245': 0.0,
 'rs697673': 0.3181818181818182,
 'rs11581279': 0.0,
 'rs228727': 0.13636363636363635,
 'rs111392569': 0.0,
 'rs875994': 0.045454545454545456,
 'rs6657232': 0.22727272727272727,
 'rs10462018': 0.09090909090909091,
 'rs228696': 0.0,
 'rs17374439': 0.09090909090909091,
 'rs228676': 0.022727272727272728,
 'rs504560': 0.09090909090909091,
 'rs228703': 0.09090909090909091,
 'rs680522': 0.09090909090909091,
 'rs161803': 0.0,
 'rs147201527': 0.0,
 'rs178932': 0.2727272727272727,
 'rs72634234': 0.13636363636363635,
 'rs225132': 0.045454545454545456,
 'rs4601608': 0.36363636363636365,
 'rs2045248': 0.09090909090909091,
 'rs7531634': 0.18181818181818182,
 'rs7529511': 0.045454545454545456,
 'rs11121111': 0.045454545454545456,
 'rs12138839': 0.45454545454545453,
 'rs75930106': 0.0,
 'rs506403': 0.0,
 'rs375596': 0.1590909090909091,
 'rs367915': 0.45454545454545453,
 'rs389709': 0.045454545454545456,
 'rs1472878': 0.29545454545454547,
 'rs1107284': 0.3181818181818182,
 'rs79500154': 0.0,
 'rs2252865': 0.13636363636363635,
 'rs114238492': 0.0,
 'rs4908505': 0.18181818181818182,
 'rs11121221': 0.11363636363636363,
 'rs4908773': 0.18181818181818182,
 'rs10492963': 0.09090909090909091,
 'rs10864368': 0.29545454545454547,
 'rs4418632': 0.1590909090909091,
 'rs1475734': 0.13636363636363635,
 'rs6684149': 0.09090909090909091,
 'rs2274332': 0.20454545454545456,
 'rs72862209': 0.0,
 'rs4466678': 0.0,
 'rs4908800': 0.09090909090909091,
 'rs6697763': 0.06818181818181818,
 'rs6577546': 0.11363636363636363,
 'rs145645102': 0.0,
 'rs2895997': 0.25,
 'rs17392147': 0.0,
 'rs12025782': 0.20454545454545456,
 'rs2505972': 0.25,
 'rs1327257': 0.0,
 'rs74051036': 0.0,
 'rs12061918': 0.06818181818181818,
 'rs72637735': 0.0,
 'rs6577556': 0.36363636363636365,
 'rs797252': 0.0,
 'rs4908527': 0.38636363636363635,
 'rs809972': 0.0,
 'rs4908817': 0.09090909090909091,
 'rs1008446': 0.25,
 'rs115238196': 0.0,
 'rs4908826': 0.18181818181818182,
 'rs1009940': 0.45454545454545453,
 'rs17033526': 0.0,
 'rs2268170': 0.045454545454545456,
 'rs7517538': 0.38636363636363635,
 'rs916379': 0.22727272727272727,
 'rs9661151': 0.06818181818181818,
 'rs2072734': 0.13636363636363635,
 'rs1294028': 0.5227272727272727,
 'rs4908842': 0.25,
 'rs1569422': 0.20454545454545456,
 'rs58412622': 0.0,
 'rs72860869': 0.045454545454545456,
 'rs2075972': 0.20454545454545456,
 'rs9435245': 0.13636363636363635,
 'rs2275458': 0.3409090909090909,
 'rs17393334': 0.09090909090909091,
 'rs114830382': 0.045454545454545456,
 'rs12145857': 0.18181818181818182,
 'rs10864418': 0.4318181818181818,
 'rs12034064': 0.022727272727272728,
 'rs57883760': 0.20454545454545456,
 'rs9430155': 0.09090909090909091,
 'rs9430184': 0.1590909090909091,
 'rs4240896': 0.4090909090909091,
 'rs6677649': 0.045454545454545456,
 'rs4240910': 0.18181818181818182,
 'rs6541017': 0.0,
 'rs10779731': 0.09090909090909091,
 'rs1933734': 0.5454545454545454,
 'rs10864439': 0.36363636363636365,
 'rs12128766': 0.36363636363636365,
 'rs1372106': 0.18181818181818182,
 'rs113346921': 0.0,
 'rs9430244': 0.0,
 'rs6696978': 0.13636363636363635,
 'rs2273299': 0.18181818181818182,
 'rs17396340': 0.0,
 'rs72867431': 0.045454545454545456,
 'rs11588734': 0.045454545454545456,
 'rs636291': 0.4090909090909091,
 'rs616488': 0.29545454545454547,
 'rs6540935': 0.0,
 'rs710130': 0.11363636363636363,
 'rs4846235': 0.22727272727272727,
 'rs12090714': 0.09090909090909091,
 'rs11577757': 0.1590909090909091,
 'rs284267': 0.0,
 'rs284301': 0.0,
 'rs17035549': 0.045454545454545456,
 'rs556506': 0.0,
 'rs544722': 0.09090909090909091,
 'rs56991136': 0.0,
 'rs4845843': 0.0,
 'rs2387415': 0.1590909090909091,
 'rs12031981': 0.18181818181818182,
 'rs17035713': 0.022727272727272728,
 'rs718047': 0.06818181818181818,
 'rs11121628': 0.045454545454545456,
 'rs60517477': 0.0,
 'rs1776220': 0.3181818181818182,
 'rs539790': 0.22727272727272727,
 'rs2143385': 0.11363636363636363,
 'rs526764': 0.22727272727272727,
 'rs1292664': 0.2727272727272727,
 'rs515331': 0.045454545454545456,
 'rs12756252': 0.09090909090909091,
 'rs10864479': 0.18181818181818182,
 'rs1280970': 0.18181818181818182,
 'rs7527445': 0.0,
 'rs12755921': 0.045454545454545456,
 'rs2275490': 0.5,
 'rs6667397': 0.13636363636363635,
 'rs12565727': 0.20454545454545456,
 'rs11576658': 0.20454545454545456,
 'rs3765897': 0.0,
 'rs17409276': 0.18181818181818182,
 'rs1130683': 0.3409090909090909,
 'rs12116957': 0.0,
 'rs11121720': 0.0,
 'rs2744854': 0.2727272727272727,
 'rs2982368': 0.11363636363636363,
 'rs11121724': 0.0,
 'rs17419268': 0.0,
 'rs2890085': 0.2727272727272727,
 'rs11121734': 0.25,
 'rs3010217': 0.0,
 'rs2379159': 0.1590909090909091,
 'rs12046038': 0.25,
 'rs11121750': 0.25,
 'rs75417796': 0.0,
 'rs2235665': 0.045454545454545456,
 'rs2745291': 0.13636363636363635,
 'rs12078550': 0.09090909090909091,
 'rs74055108': 0.045454545454545456,
 'rs6701965': 0.0,
 'rs12139487': 0.045454545454545456,
 'rs3125815': 0.13636363636363635,
 'rs2336030': 0.29545454545454547,
 'rs9430624': 0.20454545454545456,
 'rs2336034': 0.045454545454545456,
 'rs79885019': 0.0,
 'rs10864532': 0.06818181818181818,
 'rs1133398': 0.25,
 'rs1994798': 0.20454545454545456,
 'rs7537765': 0.18181818181818182,
 'rs5065': 0.09090909090909091,
 'rs5063': 0.18181818181818182,
 'rs1076626': 0.0,
 'rs1009591': 0.11363636363636363,
 'rs60600557': 0.0,
 'rs9661078': 0.11363636363636363,
 'rs11583408': 0.0,
 'rs35575891': 0.13636363636363635,
 'rs6674558': 0.13636363636363635,
 'rs11802668': 0.045454545454545456,
 'rs2236055': 0.11363636363636363,
 'rs6675934': 0.0,
 'rs76084874': 0.0,
 'rs12759042': 0.0,
 'rs114916358': 0.0,
 'rs6662024': 0.1590909090909091,
 'rs6690493': 0.2727272727272727,
 'rs2486316': 0.22727272727272727,
 'rs551062': 0.1590909090909091,
 'rs7551317': 0.0,
 'rs1148471': 0.22727272727272727,
 'rs3766735': 0.022727272727272728,
 'rs1148459': 0.29545454545454547,
 'rs80216029': 0.0,
 'rs496888': 0.3181818181818182,
 'rs1148458': 0.045454545454545456,
 'rs616645': 0.18181818181818182,
 'rs1201157': 0.22727272727272727,
 'rs5746016': 0.06818181818181818,
 'rs374450': 0.045454545454545456,
 'rs6685273': 0.09090909090909091,
 'rs17037979': 0.045454545454545456,
 'rs475983': 0.1590909090909091,
 'rs7519797': 0.13636363636363635,
 'rs12137084': 0.0,
 'rs117470349': 0.0,
 'rs56089820': 0.0,
 'rs7522534': 0.13636363636363635,
 'rs11121931': 0.13636363636363635,
 'rs61776828': 0.06818181818181818,
 'rs3128451': 0.22727272727272727,
 'rs3128449': 0.11363636363636363,
 'rs78721879': 0.0,
 'rs4618985': 0.13636363636363635,
 'rs4240903': 0.20454545454545456,
 'rs1892067': 0.0,
 'rs4845911': 0.09090909090909091,
 'rs2255773': 0.0,
 'rs1419299': 0.0,
 'rs3010942': 0.0,
 'rs4361998': 0.13636363636363635,
 'rs12059239': 0.09090909090909091,
 'rs2884717': 0.0,
 'rs1812242': 0.20454545454545456,
 'rs3013105': 0.09090909090909091,
 'rs3845608': 0.0,
 'rs375996': 0.2727272727272727,
 'rs10803381': 0.06818181818181818,
 'rs2990681': 0.3181818181818182,
 'rs3845609': 0.06818181818181818,
 'rs424296': 0.2727272727272727,
 'rs12750399': 0.18181818181818182,
 'rs3856278': 0.045454545454545456,
 'rs1610562': 0.29545454545454547,
 'rs12042662': 0.0,
 'rs12735797': 0.045454545454545456,
 'rs355021': 0.22727272727272727,
 'rs1148455': 0.18181818181818182,
 'rs61777779': 0.045454545454545456,
 'rs7514217': 0.3181818181818182,
 'rs92406': 0.18181818181818182,
 'rs4391657': 0.1590909090909091,
 'rs876931': 0.45454545454545453,
 'rs1772635': 0.1590909090909091,
 'rs16852432': 0.0,
 'rs10803421': 0.13636363636363635,
 'rs80122938': 0.0,
 'rs12561812': 0.09090909090909091,
 'rs2495037': 0.045454545454545456,
 'rs4077841': 0.045454545454545456,
 'rs2359756': 0.22727272727272727,
 'rs11580688': 0.0,

In [80]:
dfeuro=pd.read_excel('Data/Eurasian - Dataset_tims.xlsx', sheet_name='Eurasian')
dfeuro=pd.DataFrame(dfeuro)
dfeuro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4158 entries, 0 to 4157
Data columns (total 39 columns):
 #   Column                                                                                                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                 --------------  -----
 0   #                                                                                                                                                                                                                                      4158 non-null   int64
 1   Sample ID                                                                                                                                                                                                                              4158 non-null   object
 2   AncientComponent1                                                                                                                                                                                                                      4158 non-null   float64
 3   AncientComponent2                                                                                                                                                                                                                      4158 non-null   float64
 4   AncientComponent3                                                                                                                                                                                                                      4158 non-null   float64
 5   AncientComponent4                                                                                                                                                                                                                      4158 non-null   float64
 6   AncientComponent5                                                                                                                                                                                                                      4158 non-null   float64
 7   ModernComponent1                                                                                                                                                                                                                       4158 non-null   float64
 8   ModernComponent2                                                                                                                                                                                                                       4158 non-null   float64
 9   ModernComponent3                                                                                                                                                                                                                       4158 non-null   float64
 10  Index                                                                                                                                                                                                                                  4158 non-null   int64
 11  Version ID                                                                                                                                                                                                                             4158 non-null   object
 12  Master ID                                                                                                                                                                                                                              4158 non-null   object
 13  Skeletal code                                                                                                                                                                                                                          4158 non-null   object
 14  Skeletal element                                                                                                                                                                                                                       4158 non-null   object
 15  Year data from this individual was first published [for a present-day individuals we give the data of the data reported here; missing: GreenScience 2010 (Vi33.15, Vi33.26), Olalde2018 (I2657), RasmussenNature2010 (Australian)]     4158 non-null   object
 16  Publication                                                                                                                                                                                                                            4158 non-null   object
 17  Method for Determining Date; unless otherwise specified, calibrations use 95.4% intervals from OxCal v4.4.2 Bronk Ramsey (2009); r:5; Atmospheric data from Reimer et al (2020)                                                        4158 non-null   object
 18  Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]                                                                                                           4158 non-null   int64
 19  Date standard deviation in BP [OxCal sigma for a direct radiocarbon date, and standard deviation of the uniform disribution between the two bounds for a contextual date]                                                              4158 non-null   int64
 20  Full Date: One of two formats. (Format 1) 95.4% CI calibrated radiocarbon age (Conventional Radiocarbon Age BP, Lab number) e.g. 2624-2350 calBCE (3990Â±40 BP, Ua-35016). (Format 2) Archaeological context range, e.g. 2500-1700 BCE  4158 non-null   object
 21  Age at Death Estimate                                                                                                                                                                                                                  4158 non-null   object
 22  Group ID                                                                                                                                                                                                                               4158 non-null   object
 23  Locality                                                                                                                                                                                                                               4158 non-null   object
 24  Country                                                                                                                                                                                                                                4158 non-null   object
 25  Lat.                                                                                                                                                                                                                                   4158 non-null   object
 26  Long.                                                                                                                                                                                                                                  4158 non-null   object
 27  Data source                                                                                                                                                                                                                            4158 non-null   object
 28  No. Libraries                                                                                                                                                                                                                          4158 non-null   object
 29  Coverage on autosomal targets                                                                                                                                                                                                          4158 non-null   object
 30  SNPs hit on autosomal targets                                                                                                                                                                                                          4158 non-null   int64
 31  Mean length of shotgun sequences (merged data)                                                                                                                                                                                         4158 non-null   object
 32  Sex                                                                                                                                                                                                                                    4158 non-null   object
 33  Family ID and position within family                                                                                                                                                                                                   4158 non-null   object
 34  Y haplogroup  in ISOGG v15.73 notation (automatically called)                                                                                                                                                                          4158 non-null   object
 35  Y haplogroup (manual curation in terminal mutation format)                                                                                                                                                                             4158 non-null   object
 36  Y haplogroup (manual curation in ISOGG format)                                                                                                                                                                                         4155 non-null   object
 37  mtDNA coverage (merged data)                                                                                                                                                                                                           4158 non-null   object
 38  mtDNA haplogroup if â‰¥2 or published                                                                                                                                                                                                    4154 non-null   object
dtypes: float64(8), int64(5), object(26)
memory usage: 1.2+ MB

In [81]:
dfeuro.rename(columns={'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]':'date'}, inplace=True)

In [82]:
dfeuro['date'].describe()

date_range= [0,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000]

In [85]:
# if dfeuro['date'] is in the range of date_range, then dfeuro['cat_date'] is the index of the range
dfeuro['cat_date']=pd.cut(dfeuro['date'], date_range, labels=range(0, len(date_range)-1))

In [87]:
dfeuro['cat_date']

0       5
1       5
2       4
3       5
4       5
       ..
4153    9
4154    1
4155    7
4156    9
4157    4
Name: cat_date, Length: 4158, dtype: category
Categories (10, int64): [0 < 1 < 2 < 3 ... 6 < 7 < 8 < 9]

In [83]:
dfeuro['Master ID']

0        I1658
1         1H07
2         1H13
3         1H14
4         2H06
         ...
4153       ZKO
4154    ZLNR-1
4155    ZLNR-2
4156      ZMOJ
4157    ZO2002
Name: Master ID, Length: 4158, dtype: object

In [91]:
# locate df['individualID'] in dfeuro['Master ID'] and add df['cat_date'] to the df[date]
for i in range(0, len(df)):
    for j in range(0, len(dfeuro)):
        if df['individualID'][i] == dfeuro['Master ID'][j]:
            df['date'][i]=dfeuro['cat_date'][j]

df

/tmp/ipykernel_72494/109727887.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'][i]=dfeuro['cat_date'][j]

,familyID,individualID,fatherID,motherID,Sex,date,rs3094315,rs6696609,rs9442372,rs4970405,...,rs80055960,rs114003743,rs739365,rs9616945,rs5770820,rs6010062,rs715586,rs8137951,rs3810648,rs78827609
0,Sweden,Saxtorp5164,0,0,2,1,0,0,0,11,...,0,33,22,0,0,0,22,0,0,0
1,Sweden,Olsund,0,0,1,1,11,44,11,11,...,22,33,44,33,11,33,22,33,0,22
2,Sweden,Ajvide70,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Sweden,sf12,0,0,0,1,11,42,33,11,...,22,33,22,33,33,33,22,33,11,22
4,Sweden,RISE179,0,0,1,3,0,0,0,0,...,0,0,0,0,11,0,0,0,0,0
5,Sweden,I0017,0,0,1,7,11,22,0,11,...,22,33,22,33,33,33,22,33,11,44
6,Sweden,I0013,0,0,1,7,11,0,33,11,...,22,33,22,33,33,11,22,11,33,0
7,Sweden,I0011,0,0,2,7,0,22,33,11,...,22,33,0,11,33,11,0,33,11,22
8,Sweden,I0015,0,0,1,7,33,44,11,11,...,22,33,44,0,33,0,22,11,11,22
9,Sweden,I0012,0,0,1,7,11,22,33,11,...,22,33,44,33,11,11,44,33,11,0
10,Sweden,I0014,0,0,2,7,11,22,33,11,...,22,33,22,33,33,11,22,33,11,22
11,Sweden,RISE94,0,0,1,4,0,22,33,0,...,22,33,44,0,33,0,22,33,0,22
12,Sweden,RISE97,0,0,2,3,0,44,33,0,...,22,33,22,33,33,33,22,33,0,0
13,Sweden,RISE98,0,0,1,4,11,44,33,11,...,44,33,22,11,11,11,22,11,11,22
14,Sweden,RISE175,0,0,1,3,0,0,0,0,...,0,33,0,0,0,0,22,0,0,0
15,Sweden,RISE210,0,0,1,3,0,22,0,0,...,0,0,22,0,0,0,0,0,0,0
16,Sweden,RISE174,0,0,0,1,0,0,0,0,...,0,0,42,13,13,13,0,0,0,0
17,Sweden,sf11,0,0,1,1,0,0,0,11,...,0,33,44,0,0,0,22,0,0,22
18,Sweden,Ajvide52,0,0,1,4,0,22,0,11,...,0,0,0,0,0,0,0,0,0,0
19,Sweden,Ajvide58,0,0,1,4,11,0,33,11,...,22,33,22,0,33,11,22,11,11,22
20,Sweden,Gokhem2,0,0,2,4,11,22,33,11,...,22,33,22,11,33,33,44,33,0,22
21,Sweden,I0016,0,0,1,1,11,22,33,11,...,22,33,22,0,33,33,44,33,11,0

In [93]:
freq={}
df=df[df['date']==date]
for i in range(6, len(df.columns)):
    # 
        minor3=minor[i]
        # number of rows in the dataframe
        count=0
        totall=len(df)*2
        for j in range(0, len(df)):
            # count occurrences of the minor allele in column i
            count+= str(df.iloc[j,i]).count(str(minor3))
        freq[df.columns[i]]=count/totall
    

freq

{'rs3094315': 0.0,
 'rs6696609': 0.25,
 'rs9442372': 0.16666666666666666,
 'rs4970405': 0.0,
 'rs11807848': 0.08333333333333333,
 'rs4970421': 0.0,
 'rs2887286': 0.16666666666666666,
 'rs113791678': 0.16666666666666666,
 'rs12073590': 0.0,
 'rs111856013': 0.0,
 'rs3843249': 0.16666666666666666,
 'rs6603791': 0.08333333333333333,
 'rs6687029': 0.5,
 'rs6692959': 0.0,
 'rs28508199': 0.16666666666666666,
 'rs28549710': 0.08333333333333333,
 'rs4648747': 0.08333333333333333,
 'rs4648752': 0.0,
 'rs13303344': 0.16666666666666666,
 'rs6701689': 0.16666666666666666,
 'rs1467218': 0.0,
 'rs72907476': 0.0,
 'rs77602667': 0.0,
 'rs436045': 0.3333333333333333,
 'rs2257182': 0.5,
 'rs260512': 0.25,
 'rs10797417': 0.0,
 'rs2036084': 0.08333333333333333,
 'rs2132595': 0.5,
 'rs4648831': 0.0,
 'rs2645086': 0.3333333333333333,
 'rs7545940': 0.16666666666666666,
 'rs6665546': 0.25,
 'rs10910060': 0.0,
 'rs10910061': 0.0,
 'rs3736330': 0.3333333333333333,
 'rs2494599': 0.08333333333333333,
 'rs10797421': 0.08333333333333333,
 'rs2494439': 0.08333333333333333,
 'rs4995304': 0.08333333333333333,
 'rs2246732': 0.5,
 'rs2764841': 0.25,
 'rs6680471': 0.5,
 'rs10910019': 0.3333333333333333,
 'rs2842909': 0.0,
 'rs2495271': 0.0,
 'rs11583804': 0.25,
 'rs56877975': 0.0,
 'rs60402802': 0.16666666666666666,
 'rs1572657': 0.08333333333333333,
 'rs10797373': 0.0,
 'rs56091202': 0.08333333333333333,
 'rs115905994': 0.0,
 'rs7543737': 0.3333333333333333,
 'rs2981870': 0.08333333333333333,
 'rs2993500': 0.4166666666666667,
 'rs4648453': 0.0,
 'rs2817178': 0.16666666666666666,
 'rs35360783': 0.25,
 'rs10909883': 0.16666666666666666,
 'rs731031': 0.0,
 'rs1798246': 0.16666666666666666,
 'rs2651929': 0.0,
 'rs4648368': 0.0,
 'rs2651891': 0.16666666666666666,
 'rs10909907': 0.16666666666666666,
 'rs72632109': 0.0,
 'rs17398063': 0.25,
 'rs3002685': 0.08333333333333333,
 'rs10909918': 0.16666666666666666,
 'rs74048225': 0.0,
 'rs2483266': 0.75,
 'rs2255212': 0.16666666666666666,
 'rs4415513': 0.16666666666666666,
 'rs17399569': 0.0,
 'rs4648485': 0.0,
 'rs11584942': 0.0,
 'rs12085231': 0.25,
 'rs868689': 0.0,
 'rs12726710': 0.25,
 'rs17822581': 0.08333333333333333,
 'rs2068354': 0.16666666666666666,
 'rs12124567': 0.08333333333333333,
 'rs12568681': 0.0,
 'rs2487687': 0.0,
 'rs883427': 0.25,
 'rs10909969': 0.0,
 'rs2821053': 0.0,
 'rs60957843': 0.5833333333333334,
 'rs4648537': 0.0,
 'rs3765696': 0.0,
 'rs3819967': 0.16666666666666666,
 'rs72637004': 0.08333333333333333,
 'rs1181877': 0.0,
 'rs1181875': 0.0,
 'rs12759497': 0.0,
 'rs6663840': 0.16666666666666666,
 'rs6660459': 0.16666666666666666,
 'rs77838018': 0.0,
 'rs4074709': 0.16666666666666666,
 'rs3205087': 0.5,
 'rs111854503': 0.0,
 'rs185656431': 0.0,
 'rs12724233': 0.5833333333333334,
 'rs7551771': 0.25,
 'rs10737395': 0.0,
 'rs4654428': 0.25,
 'rs4654525': 0.08333333333333333,
 'rs10449244': 0.0,
 'rs6675979': 0.75,
 'rs6672264': 0.5,
 'rs75712447': 0.0,
 'rs4440829': 0.3333333333333333,
 'rs10915360': 0.0,
 'rs10915366': 0.0,
 'rs9792946': 0.08333333333333333,
 'rs10915400': 0.16666666666666666,
 'rs4391636': 0.3333333333333333,
 'rs10915421': 0.0,
 'rs6676961': 0.16666666666666666,
 'rs10915428': 0.08333333333333333,
 'rs7548756': 0.08333333333333333,
 'rs10737402': 0.0,
 'rs57434236': 0.08333333333333333,
 'rs12083774': 0.16666666666666666,
 'rs35986531': 0.4166666666666667,
 'rs4654492': 0.4166666666666667,
 'rs74880958': 0.0,
 'rs4233262': 0.0,
 'rs35392680': 0.08333333333333333,
 'rs4512614': 0.3333333333333333,
 'rs966321': 0.4166666666666667,
 'rs10737406': 0.0,
 'rs7529363': 0.5833333333333334,
 'rs693734': 0.0,
 'rs1490413': 0.08333333333333333,
 'rs1495239': 0.0,
 'rs351615': 0.0,
 'rs639739': 0.08333333333333333,
 'rs614534': 0.08333333333333333,
 'rs10915517': 0.0,
 'rs670174': 0.08333333333333333,
 'rs349393': 0.08333333333333333,
 'rs349390': 0.08333333333333333,
 'rs349416': 0.25,
 'rs508647': 0.08333333333333333,
 'rs706144': 0.16666666666666666,
 'rs780586': 0.0,
 'rs10915541': 0.0,
 'rs780587': 0.08333333333333333,
 'rs608210': 0.16666666666666666,
 'rs6426417': 0.16666666666666666,
 'rs1037800': 0.16666666666666666,
 'rs350171': 0.08333333333333333,
 'rs705689': 0.16666666666666666,
 'rs780606': 0.25,
 'rs350187': 0.16666666666666666,
 'rs1710415': 0.0,
 'rs608203': 0.16666666666666666,
 'rs111999731': 0.0,
 'rs241238': 0.5833333333333334,
 'rs12092980': 0.0,
 'rs171319': 0.16666666666666666,
 'rs12120353': 0.16666666666666666,
 'rs241275': 0.0,
 'rs115225824': 0.0,
 'rs1541318': 0.5,
 'rs4654446': 0.16666666666666666,
 'rs532259': 0.0,
 'rs12567277': 0.08333333333333333,
 'rs618751': 0.16666666666666666,
 'rs164781': 0.25,
 'rs6668002': 0.16666666666666666,
 'rs61764967': 0.3333333333333333,
 'rs1107468': 0.0,
 'rs115785205': 0.0,
 'rs1483198': 0.08333333333333333,
 'rs6658403': 0.16666666666666666,
 'rs1531831': 0.0,
 'rs11587129': 0.3333333333333333,
 'rs75303035': 0.0,
 'rs10915585': 0.08333333333333333,
 'rs2071991': 0.0,
 'rs74697122': 0.0,
 'rs4993529': 0.4166666666666667,
 'rs10915587': 0.0,
 'rs72638815': 0.0,
 'rs3820251': 0.16666666666666666,
 'rs3753702': 0.0,
 'rs540299': 0.0,
 'rs12119789': 0.3333333333333333,
 'rs9426484': 0.08333333333333333,
 'rs11805709': 0.4166666666666667,
 'rs78993684': 0.08333333333333333,
 'rs12122126': 0.0,
 'rs7527319': 0.25,
 'rs12567053': 0.0,
 'rs7525315': 0.08333333333333333,
 'rs2031246': 0.5,
 'rs6678459': 0.16666666666666666,
 'rs10915668': 0.25,
 'rs10915670': 0.0,
 'rs11584727': 0.08333333333333333,
 'rs4654470': 0.25,
 'rs9426467': 0.08333333333333333,
 'rs4654471': 0.3333333333333333,
 'rs7555212': 0.16666666666666666,
 'rs6669905': 0.08333333333333333,
 'rs9426490': 0.16666666666666666,
 'rs12029491': 0.0,
 'rs72635317': 0.16666666666666666,
 'rs12127329': 0.4166666666666667,
 'rs6666330': 0.08333333333333333,
 'rs1106585': 0.0,
 'rs10915308': 0.3333333333333333,
 'rs10915310': 0.16666666666666666,
 'rs720318': 0.3333333333333333,
 'rs149893462': 0.0,
 'rs6603832': 0.4166666666666667,
 'rs3128689': 0.16666666666666666,
 'rs12120144': 0.16666666666666666,
 'rs10915342': 0.16666666666666666,
 'rs4949171': 0.25,
 'rs10737397': 0.08333333333333333,
 'rs10915359': 0.25,
 'rs9439509': 0.3333333333333333,
 'rs12121369': 0.0,
 'rs10492931': 0.16666666666666666,
 'rs17375504': 0.08333333333333333,
 'rs12136793': 0.0,
 'rs79870364': 0.08333333333333333,
 'rs534321': 0.08333333333333333,
 'rs10915395': 0.25,
 'rs12135834': 0.25,
 'rs72852189': 0.0,
 'rs12089315': 0.08333333333333333,
 'rs499416': 0.0,
 'rs12139398': 0.16666666666666666,
 'rs10492935': 0.0,
 'rs17423547': 0.25,
 'rs12145750': 0.5,
 'rs9286979': 0.16666666666666666,
 'rs912991': 0.16666666666666666,
 'rs140143457': 0.0,
 'rs2031582': 0.08333333333333333,
 'rs1326005': 0.16666666666666666,
 'rs76980187': 0.5,
 'rs7418357': 0.25,
 'rs61759104': 0.08333333333333333,
 'rs17028133': 0.16666666666666666,
 'rs12134185': 0.16666666666666666,
 'rs2153900': 0.0,
 'rs6673119': 0.0,
 'rs7522344': 0.25,
 'rs1775421': 0.0,
 'rs1818038': 0.16666666666666666,
 'rs10907200': 0.5833333333333334,
 'rs1573094': 0.0,
 'rs11260662': 0.0,
 'rs945325': 0.3333333333333333,
 'rs9439603': 0.25,
 'rs11260666': 0.0,
 'rs12033422': 0.0,
 'rs1499395': 0.25,
 'rs12137393': 0.4166666666666667,
 'rs6699073': 0.0,
 'rs770720': 0.25,
 'rs707580': 0.08333333333333333,
 'rs770701': 0.0,
 'rs770703': 0.08333333333333333,
 'rs796396': 0.08333333333333333,
 'rs116094228': 0.0,
 'rs873982': 0.3333333333333333,
 'rs1875038': 0.08333333333333333,
 'rs2649086': 0.08333333333333333,
 'rs2649083': 0.75,
 'rs116219697': 0.0,
 'rs72643046': 0.0,
 'rs2842258': 0.16666666666666666,
 'rs17429690': 0.0,
 'rs4129514': 0.0,
 'rs7415495': 0.0,
 'rs28637880': 0.0,
 'rs6687650': 0.25,
 'rs138487454': 0.0,
 'rs495376': 0.08333333333333333,
 'rs548726': 0.16666666666666666,
 'rs112006378': 0.0,
 'rs9729880': 0.3333333333333333,
 'rs2134551': 0.0,
 'rs9628989': 0.0,
 'rs10492950': 0.0,
 'rs11120934': 0.08333333333333333,
 'rs1295100': 0.08333333333333333,
 'rs482158': 0.3333333333333333,
 'rs11121065': 0.0,
 'rs115204861': 0.0,
 'rs4908752': 0.16666666666666666,
 'rs3789541': 0.0,
 'rs35183981': 0.16666666666666666,
 'rs2229002': 0.25,
 'rs3810989': 0.5,
 'rs12121229': 0.25,
 'rs731975': 0.0,
 'rs11121478': 0.08333333333333333,
 'rs6577565': 0.0,
 'rs7547093': 0.08333333333333333,
 'rs74845901': 0.0,
 'rs76504447': 0.3333333333333333,
 'rs17026985': 0.0,
 'rs113269467': 0.0,
 'rs3007421': 0.16666666666666666,
 'rs58029228': 0.0,
 'rs1010584': 0.25,
 'rs742394': 0.3333333333333333,
 'rs12137794': 0.08333333333333333,
 'rs200449': 0.16666666666666666,
 'rs3827729': 0.08333333333333333,
 'rs277671': 0.0,
 'rs277665': 0.0,
 'rs430962': 0.3333333333333333,
 'rs17441830': 0.0,
 'rs950493': 0.16666666666666666,
 'rs17030041': 0.16666666666666666,
 'rs4908575': 0.08333333333333333,
 'rs4518923': 0.3333333333333333,
 'rs6698901': 0.4166666666666667,
 'rs2275907': 0.4166666666666667,
 'rs7543753': 0.08333333333333333,
 'rs4908594': 0.25,
 'rs11584416': 0.25,
 'rs2187901': 0.08333333333333333,
 'rs2071917': 0.08333333333333333,
 'rs2071918': 0.0,
 'rs1010807': 0.08333333333333333,
 'rs7527268': 0.6666666666666666,
 'rs10779675': 0.16666666666666666,
 'rs6702815': 0.0,
 'rs7527889': 0.16666666666666666,
 'rs6667429': 0.16666666666666666,
 'rs6577417': 0.5833333333333334,
 'rs6680365': 0.0,
 'rs78157695': 0.0,
 'rs60940404': 0.0,
 'rs1476047': 0.0,
 'rs6698698': 0.4166666666666667,
 'rs4140605': 0.0,
 'rs12409413': 0.25,
 'rs17350193': 0.0,
 'rs7543711': 0.25,
 'rs2301462': 0.08333333333333333,
 'rs36074838': 0.08333333333333333,
 'rs845237': 0.0,
 'rs4908629': 0.0,
 'rs845234': 0.3333333333333333,
 'rs10864301': 0.16666666666666666,
 'rs1193220': 0.3333333333333333,
 'rs1193221': 0.16666666666666666,
 'rs11807070': 0.0,
 'rs1193245': 0.5833333333333334,
 'rs17445205': 0.0,
 'rs1193239': 0.3333333333333333,
 'rs732401': 0.16666666666666666,
 'rs1011126': 0.3333333333333333,
 'rs1193182': 0.16666666666666666,
 'rs1193183': 0.25,
 'rs7526892': 0.16666666666666666,
 'rs10864304': 0.0,
 'rs6577446': 0.0,
 'rs2478267': 0.16666666666666666,
 'rs1725223': 0.5,
 'rs36099749': 0.0,
 'rs77869434': 0.0,
 'rs957856': 0.0,
 'rs78552027': 0.3333333333333333,
 'rs6696544': 0.08333333333333333,
 'rs4317829': 0.0,
 'rs12139470': 0.0,
 'rs4908660': 0.16666666666666666,
 'rs4908672': 0.4166666666666667,
 'rs4908473': 0.0,
 'rs3011936': 0.0,
 'rs10779689': 0.16666666666666666,
 'rs4908480': 0.16666666666666666,
 'rs1044245': 0.0,
 'rs697673': 0.3333333333333333,
 'rs11581279': 0.0,
 'rs228727': 0.16666666666666666,
 'rs111392569': 0.0,
 'rs875994': 0.0,
 'rs6657232': 0.16666666666666666,
 'rs10462018': 0.0,
 'rs228696': 0.0,
 'rs17374439': 0.16666666666666666,
 'rs228676': 0.08333333333333333,
 'rs504560': 0.16666666666666666,
 'rs228703': 0.0,
 'rs680522': 0.0,
 'rs161803': 0.0,
 'rs147201527': 0.0,
 'rs178932': 0.16666666666666666,
 'rs72634234': 0.0,
 'rs225132': 0.16666666666666666,
 'rs4601608': 0.5,
 'rs2045248': 0.0,
 'rs7531634': 0.3333333333333333,
 'rs7529511': 0.0,
 'rs11121111': 0.16666666666666666,
 'rs12138839': 0.3333333333333333,
 'rs75930106': 0.0,
 'rs506403': 0.0,
 'rs375596': 0.25,
 'rs367915': 0.5,
 'rs389709': 0.0,
 'rs1472878': 0.25,
 'rs1107284': 0.0,
 'rs79500154': 0.0,
 'rs2252865': 0.3333333333333333,
 'rs114238492': 0.0,
 'rs4908505': 0.0,
 'rs11121221': 0.08333333333333333,
 'rs4908773': 0.0,
 'rs10492963': 0.0,
 'rs10864368': 0.25,
 'rs4418632': 0.25,
 'rs1475734': 0.16666666666666666,
 'rs6684149': 0.0,
 'rs2274332': 0.4166666666666667,
 'rs72862209': 0.0,
 'rs4466678': 0.0,
 'rs4908800': 0.16666666666666666,
 'rs6697763': 0.08333333333333333,
 'rs6577546': 0.08333333333333333,
 'rs145645102': 0.0,
 'rs2895997': 0.25,
 'rs17392147': 0.0,
 'rs12025782': 0.25,
 'rs2505972': 0.08333333333333333,
 'rs1327257': 0.0,
 'rs74051036': 0.0,
 'rs12061918': 0.08333333333333333,
 'rs72637735': 0.0,
 'rs6577556': 0.6666666666666666,
 'rs797252': 0.0,
 'rs4908527': 0.5833333333333334,
 'rs809972': 0.0,
 'rs4908817': 0.0,
 'rs1008446': 0.25,
 'rs115238196': 0.0,
 'rs4908826': 0.16666666666666666,
 'rs1009940': 0.3333333333333333,
 'rs17033526': 0.0,
 'rs2268170': 0.16666666666666666,
 'rs7517538': 0.25,
 'rs916379': 0.16666666666666666,
 'rs9661151': 0.08333333333333333,
 'rs2072734': 0.0,
 'rs1294028': 0.4166666666666667,
 'rs4908842': 0.25,
 'rs1569422': 0.08333333333333333,
 'rs58412622': 0.0,
 'rs72860869': 0.0,
 'rs2075972': 0.08333333333333333,
 'rs9435245': 0.16666666666666666,
 'rs2275458': 0.25,
 'rs17393334': 0.0,
 'rs114830382': 0.16666666666666666,
 'rs12145857': 0.0,
 'rs10864418': 0.5833333333333334,
 'rs12034064': 0.08333333333333333,
 'rs57883760': 0.25,
 'rs9430155': 0.16666666666666666,
 'rs9430184': 0.08333333333333333,
 'rs4240896': 0.5,
 'rs6677649': 0.0,
 'rs4240910': 0.16666666666666666,
 'rs6541017': 0.0,
 'rs10779731': 0.16666666666666666,
 'rs1933734': 0.5,
 'rs10864439': 0.16666666666666666,
 'rs12128766': 0.3333333333333333,
 'rs1372106': 0.16666666666666666,
 'rs113346921': 0.0,
 'rs9430244': 0.0,
 'rs6696978': 0.0,
 'rs2273299': 0.16666666666666666,
 'rs17396340': 0.0,
 'rs72867431': 0.16666666666666666,
 'rs11588734': 0.16666666666666666,
 'rs636291': 0.3333333333333333,
 'rs616488': 0.25,
 'rs6540935': 0.0,
 'rs710130': 0.25,
 'rs4846235': 0.16666666666666666,
 'rs12090714': 0.16666666666666666,
 'rs11577757': 0.08333333333333333,
 'rs284267': 0.0,
 'rs284301': 0.0,
 'rs17035549': 0.0,
 'rs556506': 0.0,
 'rs544722': 0.16666666666666666,
 'rs56991136': 0.0,
 'rs4845843': 0.0,
 'rs2387415': 0.08333333333333333,
 'rs12031981': 0.16666666666666666,
 'rs17035713': 0.08333333333333333,
 'rs718047': 0.08333333333333333,
 'rs11121628': 0.0,
 'rs60517477': 0.0,
 'rs1776220': 0.0,
 'rs539790': 0.16666666666666666,
 'rs2143385': 0.25,
 'rs526764': 0.16666666666666666,
 'rs1292664': 0.3333333333333333,
 'rs515331': 0.0,
 'rs12756252': 0.0,
 'rs10864479': 0.16666666666666666,
 'rs1280970': 0.0,
 'rs7527445': 0.0,
 'rs12755921': 0.0,
 'rs2275490': 0.6666666666666666,
 'rs6667397': 0.16666666666666666,
 'rs12565727': 0.08333333333333333,
 'rs11576658': 0.25,
 'rs3765897': 0.0,
 'rs17409276': 0.16666666666666666,
 'rs1130683': 0.08333333333333333,
 'rs12116957': 0.0,
 'rs11121720': 0.0,
 'rs2744854': 0.16666666666666666,
 'rs2982368': 0.08333333333333333,
 'rs11121724': 0.0,
 'rs17419268': 0.0,
 'rs2890085': 0.16666666666666666,
 'rs11121734': 0.4166666666666667,
 'rs3010217': 0.0,
 'rs2379159': 0.25,
 'rs12046038': 0.25,
 'rs11121750': 0.4166666666666667,
 'rs75417796': 0.0,
 'rs2235665': 0.0,
 'rs2745291': 0.16666666666666666,
 'rs12078550': 0.0,
 'rs74055108': 0.0,
 'rs6701965': 0.0,
 'rs12139487': 0.0,
 'rs3125815': 0.0,
 'rs2336030': 0.25,
 'rs9430624': 0.08333333333333333,
 'rs2336034': 0.16666666666666666,
 'rs79885019': 0.0,
 'rs10864532': 0.08333333333333333,
 'rs1133398': 0.4166666666666667,
 'rs1994798': 0.25,
 'rs7537765': 0.16666666666666666,
 'rs5065': 0.3333333333333333,
 'rs5063': 0.16666666666666666,
 'rs1076626': 0.0,
 'rs1009591': 0.25,
 'rs60600557': 0.0,
 'rs9661078': 0.08333333333333333,
 'rs11583408': 0.0,
 'rs35575891': 0.0,
 'rs6674558': 0.0,
 'rs11802668': 0.0,
 'rs2236055': 0.08333333333333333,
 'rs6675934': 0.0,
 'rs76084874': 0.0,
 'rs12759042': 0.0,
 'rs114916358': 0.0,
 'rs6662024': 0.25,
 'rs6690493': 0.16666666666666666,
 'rs2486316': 0.16666666666666666,
 'rs551062': 0.08333333333333333,
 'rs7551317': 0.0,
 'rs1148471': 0.16666666666666666,
 'rs3766735': 0.08333333333333333,
 'rs1148459': 0.75,
 'rs80216029': 0.0,
 'rs496888': 0.3333333333333333,
 'rs1148458': 0.0,
 'rs616645': 0.3333333333333333,
 'rs1201157': 0.3333333333333333,
 'rs5746016': 0.08333333333333333,
 'rs374450': 0.0,
 'rs6685273': 0.0,
 'rs17037979': 0.0,
 'rs475983': 0.25,
 'rs7519797': 0.3333333333333333,
 'rs12137084': 0.0,
 'rs117470349': 0.0,
 'rs56089820': 0.0,
 'rs7522534': 0.0,
 'rs11121931': 0.3333333333333333,
 'rs61776828': 0.25,
 'rs3128451': 0.5,
 'rs3128449': 0.25,
 'rs78721879': 0.0,
 'rs4618985': 0.3333333333333333,
 'rs4240903': 0.4166666666666667,
 'rs1892067': 0.0,
 'rs4845911': 0.16666666666666666,
 'rs2255773': 0.0,
 'rs1419299': 0.0,
 'rs3010942': 0.0,
 'rs4361998': 0.0,
 'rs12059239': 0.16666666666666666,
 'rs2884717': 0.0,
 'rs1812242': 0.08333333333333333,
 'rs3013105': 0.16666666666666666,
 'rs3845608': 0.0,
 'rs375996': 0.16666666666666666,
 'rs10803381': 0.08333333333333333,
 'rs2990681': 0.16666666666666666,
 'rs3845609': 0.08333333333333333,
 'rs424296': 0.3333333333333333,
 'rs12750399': 0.0,
 'rs3856278': 0.0,
 'rs1610562': 0.4166666666666667,
 'rs12042662': 0.0,
 'rs12735797': 0.16666666666666666,
 'rs355021': 0.16666666666666666,
 'rs1148455': 0.3333333333333333,
 'rs61777779': 0.0,
 'rs7514217': 0.5,
 'rs92406': 0.0,
 'rs4391657': 0.08333333333333333,
 'rs876931': 0.3333333333333333,
 'rs1772635': 0.08333333333333333,
 'rs16852432': 0.0,
 'rs10803421': 0.0,
 'rs80122938': 0.0,
 'rs12561812': 0.0,
 'rs2495037': 0.16666666666666666,
 'rs4077841': 0.0,
 'rs2359756': 0.16666666666666666,
 'rs11580688': 0.0,
 'rs2281164': 0.16666666666666666,
 'rs2244634': 0.16666666666666666,
 'rs11588426': 0.0,
 'rs2697971': 0.25,
 'rs2495090': 0.0,
 'rs2697983': 0.5,
 'rs2744656': 0.4166666666666667,
 'rs12091229': 0.0,
 'rs17350970': 0.0,
 'rs6429800': 0.3333333333333333,
 'rs1203709': 0.3333333333333333,
 'rs75105468': 0.0,
 'rs7536590': 0.0,
 'rs10803436': 0.3333333333333333,
 'rs6429804': 0.3333333333333333,
 'rs10489150': 0.25,
 'rs1005302': 0.16666666666666666,
 'rs10927965': 0.0,
 'rs6429815': 0.25,
 'rs10927972': 0.08333333333333333,
 'rs12024045': 0.08333333333333333,
 'rs12028225': 0.0,
 'rs10489148': 0.08333333333333333,
 'rs11585369': 0.0,
 'rs12129723': 0.16666666666666666,
 'rs12566758': 0.08333333333333333,
 'rs115030562': 0.0,
 'rs7529368': 0.08333333333333333,
 'rs4662076': 0.25,
 'rs2206587': 0.16666666666666666,
 'rs12748863': 0.0,
 'rs3817959': 0.08333333333333333,
 'rs7515917': 0.3333333333333333,
 'rs2157565': 0.16666666666666666,
 'rs6686025': 0.25,
 'rs1934656': 0.3333333333333333,
 'rs10803463': 0.08333333333333333,
 'rs9803674': 0.5,
 'rs7542472': 0.0,
 'rs6692372': 0.0,
 'rs646835': 0.25,
 'rs675997': 0.0,
 'rs10754914': 0.0,
 'rs577987': 0.0,
 'rs113625262': 0.0,
 'rs10803475': 0.0,
 'rs6683875': 0.0,
 'rs12077532': 0.08333333333333333,
 'rs1339363': 0.25,
 'rs1538534': 0.0,
 'rs10927407': 0.0,
 'rs820628': 0.08333333333333333,
 'rs12028092': 0.0,
 'rs2789746': 0.4166666666666667,
 'rs35095692': 0.08333333333333333,
 'rs7538154': 0.0,
 'rs943919': 0.0,
 'rs12122566': 0.08333333333333333,
 'rs4308970': 0.25,
 'rs1079222': 0.0,
 'rs6659078': 0.08333333333333333,
 'rs10927440': 0.0,
 'rs2480063': 0.16666666666666666,
 'rs16850413': 0.0,
 'rs61771925': 0.3333333333333333,
 'rs3892594': 0.3333333333333333,
 'rs6673698': 0.3333333333333333,
 'rs12031233': 0.0,
 'rs10733136': 0.0,
 'rs566329': 0.0,
 'rs11576795': 0.0,
 'rs11578959': 0.25,
 'rs12758763': 0.16666666666666666,
 'rs12079312': 0.16666666666666666,
 'rs12354173': 0.0,
 'rs28730493': 0.25,
 'rs6429671': 0.0,
 'rs10737900': 0.5,
 'rs116651733': 0.0,
 'rs1883576': 0.16666666666666666,
 'rs4661517': 0.16666666666666666,
 'rs34172886': 0.3333333333333333,
 'rs7521419': 0.0,
 'rs58313877': 0.0,
 'rs742467': 0.0,
 'rs10927540': 0.3333333333333333,
 'rs732469': 0.25,
 'rs12088443': 0.0,
 'rs4661528': 0.0,
 'rs57289276': 0.0,
 'rs1737358': 0.08333333333333333,
 'rs3930209': 0.16666666666666666,
 'rs10927556': 0.0,
 'rs3795756': 0.25,
 'rs804134': 0.16666666666666666,
 'rs12127407': 0.16666666666666666,
 'rs3845596': 0.3333333333333333,
 'rs4661539': 0.5833333333333334,
 'rs2807545': 0.16666666666666666,
 'rs2801178': 0.08333333333333333,
 'rs2807555': 0.0,
 'rs2807562': 0.0,
 'rs10927579': 0.16666666666666666,
 'rs16851049': 0.0,
 'rs4661548': 0.25,
 'rs7517187': 0.4166666666666667,
 'rs4661553': 0.25,
 'rs7522712': 0.5833333333333334,
 'rs12567150': 0.3333333333333333,
 'rs10754876': 0.0,
 'rs10803338': 0.3333333333333333,